@using Microsoft.AspNetCore.Identity;
@using Newtonsoft.Json;
@using swas.BAL.Helpers
@using swas.BAL.Repository
@using swas.DAL.Models
@using swas.BAL.Interfaces
@using swas.BAL.DTO
@inject IHttpContextAccessor HttpContextAccessor

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	int sno = 1;


	Login Logins = SessionHelper.GetObjectFromJson<Login>(HttpContextAccessor.HttpContext.Session, "User");
}
<link href="~/css/timeline.css" rel="stylesheet" />
<link href="~/css/LegacyApproval.css" rel="stylesheet"/>

<body>
	<div id="tabledateContainer">
		<div class="text-center mb-4 mt-5  ">
			<div class=" newprojectheading ">
				<h3 >
					Approval for Legacy Projects
				</h3>
			</div>
			

			<ul class="tabs__head">
				<li>
					<a class="active-link mr-2" href="#" data-tab="Ingest_Request" id="tabinbox">
						<span class="fa fa-download"></span>&nbsp;Ingest Request
						<span id="IngestionReq" class="badge3 d-none IngestionReq da-badge-sm">0</span>
					</a>
				</li>
				<li>
					<a href="#" data-tab="Find_approval" id="tabsent" class="da-tab-w220">
						<span class="fa fa-edit"></span>&nbsp;Approval for other
						<span id="IngestionReqforother" class="badge3 d-none IngestionReqforother da-badge-sm">0</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="tab-content" id="Ingest_Request">
			<div class="card radius-10 w-100">
				<div class="card-body da-scroll-700-main">
					<span id="IpAddress" class="da-hidden"> @TempData["ipadd"]</span>

					<table id="TableType1" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>S/No</th>
								<th>Project Name</th>
								<th>User</th>
								<th>From Unit</th>
								<th>Request Date</th>
								<th>Admin Approval Date</th>
								<th>Requested Remarks</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody id="DateApproval"></tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="modal fade" id="ProjFwdHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="lblHistory"> </h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<div class="modal-body ml-lg-5">
						<div class="timeline" id="projectLegacyhistory"></div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="tab-content da-tab-hidden" id="Find_approval">
		<div class="card radius-10 w-100 da-card-h675">

			<div class="mb-3 position-relative">
				<label for="Find_forApproval" class="form-label fw-bold">Search for Legacy Approval:</label>

				<input type="text" id="Find_forApproval" class="form-control d-inline-block ms-2 mt-2 da-search-w300"
					   autocomplete="off" placeholder="Search Project By Name">

				<ul id="projectNameDropdown" class="dropdown-menu show mt-1 da-dropdown-menu"></ul>

				<input type="hidden" id="ProjId" />
				<input type="hidden" id="ProjName" />
			</div>

			<div class="card-body da-scroll-700-alt">
				<span id="IpAddress1" class="da-hidden"> @TempData["ipadd"]</span>

				<table id="TableType2" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>S/No</th>
							<th class="da-w-200">Project Name</th>
							<th class="da-w-150">User</th>
							<th class="da-w-100">From Unit</th>
							<th class="da-w-100">Request Date</th>
							<th class="da-w-120">Admin Approval Date</th>
							<th class="da-w-120">Requested Remarks</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody id="DateApproval1"></tbody>
				</table>
			</div>
		</div>

		<div class="modal fade" id="ProjFwdHistory1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<ul id="projectNameDropdown" class="dropdown-list da-dropdown-list"></ul>

			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="lblHistory1"> </h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<div class="modal-body ml-lg-5">
						<div class="timeline" id="projectLegacyhistory1"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>


<script src="~/DeveloperJs/DateApproval.js"></script>
<script src="~/DeveloperJs/Notification.js?v1"></script>
<script src="~/developerjs/mtable.js?v1"></script>
<script src="~/DeveloperJs/CommanDatatable.js?v1"></script>
<script src="~/DeveloperJs/Comman.js"></script>

