@using swas.BAL.DTO;
@using swas.DAL.Models
@using swas.BAL.Helpers
@inject IHttpContextAccessor HttpContextAccessor

@{
    Login Logins = SessionHelper.GetObjectFromJson<Login>(HttpContextAccessor.HttpContext.Session, "User");
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/css/Dashboard.css" rel="stylesheet">

    <script src="~/js/chart.js"></script>
    <script src="~/js/chartjs-plugin-datalabels.js"></script>




<div class="container-fluid py-3">
    <div class="row g-3">

        <!-- Dashboard Count Cards -->
        <div class="col-12 db-zoom-80">

            <div class="card" id="carddashboardcount"></div>
        </div>

        <!-- Year Wise Status -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="header-container text-center text-white py-2">
                    Year Wise Entered Project
                </div>
                <div class="chart-box p-2">
                    <canvas id="yearsStatusChart" class="w-100 db-canvas-h400"></canvas>
                </div>
            </div>
        </div>

        <!-- Pre Approved Projects -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="header-container text-center text-white py-2">
                    Pre-Devp Stage: Stakeholder Comments
                </div>
                <div class="chart-box p-2">
                    <canvas id="approvedProjectsChart" class="w-100 db-canvas-h400"></canvas>
                </div>
            </div>
        </div>

        <!-- Post Approved Projects -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="header-container text-center text-white py-2">
                    Post-Devp Stage: Project Status
                </div>
                <div class="chart-box p-2">
                    <canvas id="approvedProjectsChartPost" class="w-100 db-canvas-h400"></canvas>
                </div>
            </div>
        </div>

        <!-- Whitelisted Projects -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="header-container text-center text-white py-2">
                    Total Proj Whitelisted & Due for Re-vetting
                </div>
                <div class="chart-box p-2">
                    <canvas id="whitelistedChart" class="w-100 db-canvas-h379"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

 
<div class="modal fade" id="ProjGetsummay" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modalSize">
            <div class="modal-header">
                <span id="spndashboardstatusId" class="d-none">0</span>

                <h4 class="modal-title db-modal-title-lg" id="ProjectSummaryTittle">Project Details</h4>

                <div class="form-check form-check-inline ml-5" data-toggle="tooltip" data-placement="top"
                     title="Remove duplicate transaction to view unique proj at this stage">
                    <input class="form-check-input" type="checkbox" id="IsNotduplicate" value="option1">
                    <label class="form-check-label db-label-md" for="inlineCheckbox1">Remove Duplicate</label>
                </div>

                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body scroll">
                <table id="dashboardDeatils" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <span id="spndashboardUnitId" class="d-none">@ViewBag.UnitId</span>
                            <th class="db-col-w6">Ser No</th>
                            <th class="nowrap">Proj Name</th>
                            <th class="nowrap">Stakeholder</th>
                            <th class="nowrap">From UnitName</th>
                            <th class="nowrap">To UnitName</th>
                            <th class="nowrap">Stage</th>
                            <th class="nowrap">Sub Stage</th>
                            <th class="nowrap">Action Taken</th>
                            <th class="nowrap">TimeStamp</th>
                            <th class="nowrap">Status</th>
                        </tr>
                    </thead>
                    <tbody id="DetailBodysummary1"></tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ProjApproved" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modalSize">
            <div class="modal-header">
                <h4 class="modal-title" id="ProjectApprovedTittle">Project Details</h4>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body scroll">
                <table id="dashboardApproved" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <span id="spndashboardUnitId" class="d-none">@ViewBag.UnitId</span>
                            <th class="nowrap db-col-w3imp">Ser No</th>
                            <th class="nowrap">Proj Name</th>
                            <th class="nowrap">Sponsor</th>
                            <th class="nowrap">Approved Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="DetailBodyApproved"></tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="IPAProjApproved" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modalSize">
            <div class="modal-header">
                <h4 class="modal-title" id="IPAProjectApprovedTittle">Project Details</h4>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body scroll">
                <table id="IPAdashboardApproved" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <span id="spndashboardUnitId" class="d-none">@ViewBag.UnitId</span>
                            <th class="nowrap db-col-w3imp">Ser No</th>
                            <th class="nowrap">Proj Name</th>
                            <th class="nowrap">Sponsor</th>
                            <th class="nowrap">Approved Date</th>
                            <th class="nowrap">Status</th>
                            <th class="noExport" id="CertName"></th>
                        </tr>
                    </thead>
                    <tbody id="IPADetailBodyApproved"></tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalPagehistoryAttechment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg custom-modal-sizes">
        <div class="modal-content modal-content-new">
            <div class="modal-header">
                <h5 class="modal-title">ATTACHMENTS</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <div id="myModalContenthistoryAttechment">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="modalProjectWiseStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modalSize">
            <div class="modal-header">
                <h4 class="modal-title">Project Wise Status</h4>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body scroll">
                <table id="tblProjectWiseStatus" class="table table-striped table-bordered"></table>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="BISAG-N" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modalSize">
            <div class="modal-header">
                <h4 class="modal-title" id="ProjectApprovedTittleBisag">Project Details</h4>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body scroll">
                <table id="dashboardApprovedBisagN" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <span id="spndashboardUnitId" class="d-none">@ViewBag.UnitId</span>
                            <th class="nowrap db-col-w3">Ser No</th>
                            <th class="nowrap">Proj Name</th>
                            <th class="nowrap">Sponsor</th>
                            <th class="db-col-w135">Approved Date</th>
                        </tr>
                    </thead>
                    <tbody id="DetailBodyBisagN"></tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!-- Popup Modal -->
<div class="popup-overlay" id="popupOverlay">
    <div class="popup-content">
        <div class="popup-header">
            <span class="popup-title" id="popupTitle">Project List</span>
            <button class="close-btn">&times;</button>
        </div>
        <ul class="project-list" id="projectList"></ul>
    </div>
</div>


@await Html.PartialAsync("_whitelistdProjectView")


<script src="~/developerjs/commandatatable.js"></script>
<script src="~/developerjs/dashboard.js"></script>
