@{
   
}



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
<head>
    <link href="~/assets/css/style.css" rel="stylesheet">

    <style>
        #litabs {
            white-space: nowrap;
            display: inline-block;
            width: 200px;
        }

        .slice {
            position: absolute;
            width: 50%;
            height: 100%;
            clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
            transform-origin: 0 0;
            background-color: #044c92;
            transform: rotate(calc(var(--percentage, 0) * 3.6deg));
        }

        .aj {
            text-align: center;
            height: 2rem;
            background-color: #044c92;
            padding-top: 0px;
            font-size: larger;
        }


        .card-body {
            margin-top: -10px !important;
            margin-bottom: 0px !important;
            word-wrap: normal !important;
            margin-left: -4px !important;
            word-spacing: normal !important;
            padding: 0.78rem !important;
        }

        .col-lg-4 {
            -ms-flex: 0 0 33.333333% !important;
            flex: 3 0 33.333333% !important;
            max-width: 33.333333% !important;
            padding: -1px !important;
            margin-bottom: -12px !important;
        }

        .row {
            margin-bottom: -4px !important;
        }

        #myChart1 {
            width: 100%; /* Make the element take up the full width of its parent container */
            height: auto; /* Allow the height to adjust proportionally to the width */

            max-width: 752px !important; /* Set a maximum width for the element */
            max-height: 388px !important; /* Set a maximum height for the element */
        }

        #myChart {
            width: 100%; /* Make the element take up the full width of its parent container */
            height: auto; /* Allow the height to adjust proportionally to the width */

            max-width: 752px !important; /* Set a maximum width for the element */
            max-height: 388px !important; /* Set a maximum height for the element */
        }

        .js-is-visible {
            opacity: 1;
        }

        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%; /* Adjust the width as needed */
            max-width: 80%; /* Optional: Set a maximum width if desired */
            height: auto; /* Set a fixed height, or adjust as needed */
            background-color: #0000; /* Set the background color */
            z-index: 999;
            border-radius: 5px; /* Optional: Add rounded corners */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow */
            overflow: auto; /* Add scrollbars if the content exceeds the height */
        }

        .popup-content {
            padding: 20px;
            /* Other styling for your content */
        }

        #popupOverlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1000;
        }

        #popupContent {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            max-width: 80%;
            max-height: 40%;
            overflow-y: auto;
        }

        .tabs {
            /* Styles for your tabs content */
        }


        .tabs__head li a {
            width: 180px !important;
            padding-right: 1px;
        }

        .closeButton {
            background-color: #f44336;
            border: none;
            color: white;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px 10px;
            border-radius: 10%;
        }

            .closeButton:hover {
                background-color: #d32f2f;
            }


        .blue-button {
            /* Add your styles for the black button here */
            background-color: #044C92; /* Example background color */
            border: 1px solid #000;
            color: #fff;
            /* Add other styles as needed */
        }

        .green-button {
            /* Styles for the green button */
            background-color: #4CAF50; /* Example green color */
            /* Add other styles as needed */
        }

        .yellow-button {
            /* Styles for the yellow button */
            background-color: #FFC107; /* Example yellow color */
            /* Add other styles as needed */
        }

        .red-button {
            /* Styles for the red button */
            background-color: #F44336; /* Example red color */
            /* Add other styles as needed */
        }

        /* Add 3D effect styles for the buttons */
        .table-button {
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Example shadow effect */
            transition: transform 0.3s;
        }

            .table-button:hover {
                transform: translateY(-3px);
                background-color: blue; /* Example hover effect for 3D appearance */
            }

        .r-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            font-size: 22px;
        }



        .cd-1 {
            min-width: 150px;
          /*   height: 100px; */
            align-items: center;
            display: flex;
            flex-direction: column;
            box-shadow: -4px -4px 3px rgba(0, 0, 0, 0.1);
            margin: 23px;
            padding-top: 5px;
            font-size: 12px;
            text-overflow: inherit;
            font-weight: bolder;
            text-align: center;
            border: 2px solid #044c92;
            background-color: white;
            transition: all 0.3s ease;
            border-radius: 30px;
            box-shadow: inset 0 0 10px;
        }

            .cd-1:hover {
                transform: translateY(-5px);
                box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
            }

        .card-title {
            font-size: 20px !important;
            align-items: baseline;
            font-family: auto;
        }

        .t-1 {
            flex: 4
        }

        .text {
            overflow: scroll;
            padding: 10px;
        }

    </style>


</head>

<div class="card" id="carddashboardcount" >
    
</div>


<div class="modal fade" id="ProjGetsummay" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="ProjectSummaryTittle">Project Details</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <table id="Inbox" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Ser No</th>
                            <th>Proj Name</th>
                            <th>Stake Holder</th>
                            <th>From UnitName</th>
                            <th>To UnitName</th>
                            <th>Action Taken</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody id="DetailBodysummary">

                    </tbody>

                </table>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>
<script src="~/developerjs/dashboard.js"></script>