<style>
    .btn-clsprojName {
        color: #007bff !important;
        cursor: pointer;
    }

    @@media (min-width: 1200px) {
        .modal-xl {
            --bs-modal-width: 80%;
        }



        .chart-box {
            background: #ffffff;
            border-radius: 10px;
            padding: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .dashboard {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }


        canvas {
            max-width: 100%;
        }
    }
</style>
<div class="card-body">
    <div class="card radius-10 w-100">
        <div class="card-body">
            <div class="table-responsive">
                <table id="tblProjectWiseStatus" class="table table-striped table-bordered">
                </table>
            </div>
          

</div>
</div>
</div>
@await Html.PartialAsync("_ProjectPendingStatus")

