<style>
    .btn-clsprojName{
        color: #007bff !important;
        cursor:pointer;
    }   
    @@media (min-width: 1200px) {
    .modal-xl {
        --bs-modal-width: 80%;
        }

     

        .chart-box {
            background: #ffffff;
            border-radius: 10px;
            padding: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
        }



        canvas {
            max-width: 100%;
        }
}
</style>
<script src="~/js/chart.js"></script>
<script src="~/js/chartjs-plugin-datalabels.js"></script>
<div class="card-body">
    <div class="card radius-10 w-100">
        <div class="card-body">
            <table id="tblProjectWiseStatus" class="table table-striped table-bordered">
            </table>

</div>
</div>
</div>

<div class="modal fade" id="ProjHoldHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="">Proj Hold History </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="card d-none1" id="cardforProjHoldHistory">
                    <div class="dashboard">
                        <!-- Years Wise Status -->
                        <div>
                            <div class="newprojectheading text-center"> Proj Hold History of <span class="lblProjHoldHistory"></span> </div>
                            <div class="chart-box">

                                <canvas id="ProjHoldHistoryChart"></canvas>
                            </div>
                        </div>




                    </div>
                </div>
                <table class="table table-striped table-bordered" id="tblprojhold">


                    <thead>
                        <tr>


                            <th class="nowrap">Ser. No</th>
                            <th class="nowrap">From Unit</th>
                            <th class="nowrap">To Unit</th>
                            <th class="nowrap">Sub Stage</th>
                            <th class="nowrap">Action</th>
                            <th class="nowrap">Start Time (To Unit)</th>
                            <th class="nowrap">Action Initiated</th>
                            <th class="nowrap">Total Days (hh:mm)</th>

                        </tr>
                    </thead>
                    <tbody id="DetailBodyhold">
                    </tbody>
                </table>


                <table class="table table-striped table-bordered" id="tblprojComments">

                    <thead>
                        <tr>


                            <th class="nowrap">Ser. No</th>
                            <th class="nowrap">From Unit</th>
                            <th class="nowrap">To Unit</th>
                            <th class="nowrap">Sub Stage</th>
                            <th class="nowrap">Action</th>
                            <th class="nowrap">Start Time (To Unit)</th>
                            <th class="nowrap">Action Initiated</th>
                            <th class="nowrap">Total Days (hh:mm)</th>

                        </tr>
                    </thead>
                    <tbody id="DetailBodyholdComments">
                    </tbody>
                </table>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>
<script src="~/developerjs/projectwisereport.js"></script>