<link href="~/css/ProjectwiseReport.css" rel="stylesheet"/>
<div class="card-body mt-5">
    <div class="card radius-10 w-100">
        <div class="card-body">
         
                <table id="tblProjectWiseStatus" class="table table-striped table-bordered">
                </table>
           

</div> 
</div>
</div>
<script src="~/developerjs/comman.js"></script>
<script src="~/developerjs/CommanDatatable.js"></script>
@await Html.PartialAsync("_ProjectPendingStatus")

