<html>

<head>
    <link href="~/css/StratgicAnalysis.css" rel="stylesheet" />
</head>
<div class="card radius-10 w-100">
    <div class="card-body">
        <div>
            <h5 class="card-title aj stat-title">Statistic Analysis</h5>
        </div>

        <hr />

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card radius-12">
                    <div class="card-body">
                        <h6 class="mb-0">Application Type wise Analysis : (Last Six Months)</h6>
                        <div class="d-flex align-items-center mb-3">
                            <canvas id="myChart" class="stats-canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Sidebar (Pie Chart) -->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card radius-12">
                    <div class="card-body">
                        <h6 class="mb-0">Current Status Analysis</h6>
                        <div class="d-flex align-items-center mb-3">
                            <canvas id="myChart1" class="stats-canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</html>
<script src="~/developerjs/home_stratgicanalysis.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
