################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/swas/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/swas.metadata.v5.1
/.vs/ProjectEvaluation/swas.projects.v5.1
/.vs/swas/FileContentIndex/616850e4-12de-43f5-9dea-ead6d7f2be23.vsidx
/.vs/swas/FileContentIndex/a56cf1ad-ada4-445f-8d72-f431f491e665.vsidx
/.vs/swas/FileContentIndex/c30c026f-6b9f-4804-9d69-abe606191707.vsidx
/.vs/swas/FileContentIndex/c75159b5-c396-4630-97d7-21739c923171.vsidx
/.vs/swas/v16/.suo
/.vs/swas/v17/.futdcache.v2
/.vs/swas/v17/.suo
/.vs/swas/v17/fileList.bin
/.vs/swas/v17/HierarchyCache.v1.txt
/swas.BAL/bin/Debug/net6.0/swas.BAL.dll
/swas.BAL/bin/Debug/net6.0/swas.BAL.pdb
/swas.BAL/bin/Debug/net6.0/swas.DAL.dll
/swas.BAL/bin/Debug/net6.0/swas.DAL.pdb
/swas.BAL/obj/Debug/net6.0/ref/swas.BAL.dll
/swas.BAL/obj/Debug/net6.0/refint/swas.BAL.dll
/swas.BAL/obj/Debug/net6.0/swas.BAL.csproj.AssemblyReference.cache
/swas.BAL/obj/Debug/net6.0/swas.BAL.dll
/swas.BAL/obj/Debug/net6.0/swas.BAL.pdb
/swas.DAL/bin/Debug/net6.0/swas.DAL.dll
/swas.DAL/bin/Debug/net6.0/swas.DAL.pdb
/swas.DAL/obj/Debug/net6.0/ref/swas.DAL.dll
/swas.DAL/obj/Debug/net6.0/refint/swas.DAL.dll
/swas.DAL/obj/Debug/net6.0/swas.DAL.dll
/swas.DAL/obj/Debug/net6.0/swas.DAL.pdb
/swas.UI/bin/Debug/net6.0/swas.BAL.dll
/swas.UI/bin/Debug/net6.0/swas.BAL.pdb
/swas.UI/bin/Debug/net6.0/swas.DAL.dll
/swas.UI/bin/Debug/net6.0/swas.DAL.pdb
/swas.UI/bin/Debug/net6.0/swas.UI.dll
/swas.UI/bin/Debug/net6.0/swas.UI.pdb
/swas.UI/bin/Debug/net6.0/swas.UI.staticwebassets.runtime.json
/swas.UI/obj/Debug/net6.0/ref/swas.UI.dll
/swas.UI/obj/Debug/net6.0/refint/swas.UI.dll
/swas.UI/obj/Debug/net6.0/staticwebassets.build.json
/swas.UI/obj/Debug/net6.0/staticwebassets.development.json
/swas.UI/obj/Debug/net6.0/swas.UI.csproj.AssemblyReference.cache
/swas.UI/obj/Debug/net6.0/swas.UI.dll
/swas.UI/obj/Debug/net6.0/swas.UI.pdb
/swas.UI/obj/staticwebassets.pack.sentinel
/swas.UI/wwwroot/Uploads/Swas_355f0110-2fbc-42e0-b062-729127b46115.pdf
/swas.UI/wwwroot/Uploads/Swas_3ac2ea50-b2a8-4bbc-b3f9-ac7b18ca95a1.pdf
/swas.UI/wwwroot/Uploads/Swas_98dfd1aa-bad2-42a8-8182-226b35362338.pdf
