################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/swas/DesignTimeBuild/.dtbcache.v2
