
CREATE TABLE [dbo].[mActions_new](
	[ActionsId] [int] IDENTITY(1,1) NOT NULL,
	[Actions] [varchar](200) NOT NULL,
	[ActionDesc] [varchar](250) NULL,
	[Actionseq] [int] NULL,
	[StatCompId] [int] NULL,
	[StatusId] [int] NULL,
	[StagesId] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[InitiaalID] [bit] NULL,
	[FininshID] [bit] NULL,
	[TimeLimit] [int] NULL,
	[ObsnFlag] [bit] NULL,
 CONSTRAINT [PK_mActions] PRIMARY KEY CLUSTERED 
(
	[ActionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[mActions_new] ON 

INSERT [dbo].[mActions_new] ([ActionsId], [Actions], [ActionDesc], [Actionseq], [StatCompId], [StatusId], [StagesId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TimeLimit], [ObsnFlag]) VALUES (1, N'New Project', N'Create New Project', 1, NULL, 1, 1, 0, 1, N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), 1, NULL, 30, NULL)
INSERT [dbo].[mActions_new] ([ActionsId], [Actions], [ActionDesc], [Actionseq], [StatCompId], [StatusId], [StagesId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TimeLimit], [ObsnFlag]) VALUES (2, N'Returned', N'New Project Returned Being Duplicate', 2, 1, 2, 1, 0, 1, N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), NULL, NULL, 0, NULL)
INSERT [dbo].[mActions_new] ([ActionsId], [Actions], [ActionDesc], [Actionseq], [StatCompId], [StatusId], [StagesId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TimeLimit], [ObsnFlag]) VALUES (3, N'Fwd', N'Inital Stage Resubmitted (Obsn Rectified)', 3, 0, 3, 1, 0, 1, N'asdc', CAST(N'2023-10-31T13:45:55.5014031' AS DateTime2), N'6', CAST(N'2023-10-31T13:45:55.5013850' AS DateTime2), NULL, NULL, 12, 0)
SET IDENTITY_INSERT [dbo].[mActions_new] OFF
GO
