USE [master]
GO
/****** Object:  Database [PAWDB_KP]    Script Date: 22-08-2024 17:59:10 ******/
CREATE DATABASE [PAWDB_KP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PAWDB_KP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PAWDB_KP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PAWDB_KP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PAWDB_KP_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PAWDB_KP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PAWDB_KP]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
	[domain_iam] [nvarchar](max) NULL,
	[description_iam] [nvarchar](max) NULL,
	[RoleName_IAM] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[unitid] [int] NULL,
	[appointment] [nvarchar](max) NULL,
	[icno] [nvarchar](15) NULL,
	[rank] [nchar](15) NULL,
	[Offr_Name] [nchar](70) NULL,
	[Tele_Army] [nchar](70) NULL,
	[CreatedDate] [datetime] NULL,
	[Flag] [bit] NULL,
	[UserIntId] [int] NULL,
	[UserDetails] [nvarchar](100) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttHistComment]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttHistComment](
	[Attid] [int] IDENTITY(1,1) NOT NULL,
	[PsmId] [int] NOT NULL,
	[AttPath] [varchar](200) NOT NULL,
	[StkCommentId] [int] NOT NULL,
	[TimeStamp] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[Reamarks] [varchar](250) NULL,
	[ActFileName] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttHistory]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttHistory](
	[AttId] [int] IDENTITY(1,1) NOT NULL,
	[PsmId] [int] NOT NULL,
	[AttPath] [varchar](200) NOT NULL,
	[ActionId] [int] NOT NULL,
	[TimeStamp] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [int] NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[Reamarks] [varchar](250) NULL,
	[ActFileName] [varchar](200) NULL,
 CONSTRAINT [PK_AttHistory] PRIMARY KEY CLUSTERED 
(
	[AttId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[PsmId] [int] NOT NULL,
	[Comment] [varchar](1500) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [int] NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mActionmapping]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mActionmapping](
	[Mappingid] [int] IDENTITY(1,1) NOT NULL,
	[Unitid] [int] NOT NULL,
	[Statusid] [int] NULL,
	[Mandatoryactionid] [int] NOT NULL,
	[Nextstage] [int] NULL,
	[Nextstatus] [int] NULL,
	[Defaultfwdunitid] [int] NULL,
	[Hidestatus] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mActions]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mActions](
	[ActionsId] [int] IDENTITY(1,1) NOT NULL,
	[Actions] [varchar](200) NOT NULL,
	[ActionDesc] [varchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [int] NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[OrderBy] [int] NULL,
 CONSTRAINT [PK_mActions] PRIMARY KEY CLUSTERED 
(
	[ActionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mAppType]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mAppType](
	[Apptype] [int] IDENTITY(1,1) NOT NULL,
	[AppDesc] [varchar](50) NOT NULL,
 CONSTRAINT [PK_mAppType] PRIMARY KEY CLUSTERED 
(
	[Apptype] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mCommand]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mCommand](
	[comdid] [int] IDENTITY(1,1) NOT NULL,
	[Command_Name] [varchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[IsActive] [bit] NULL,
	[EditDeleteBy] [varchar](100) NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
 CONSTRAINT [PK_mCommand] PRIMARY KEY CLUSTERED 
(
	[comdid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mCorps]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mCorps](
	[corpsid] [int] IDENTITY(1,1) NOT NULL,
	[corpsname] [varchar](50) NOT NULL,
	[comdid] [int] NULL,
	[IsDeleted] [bit] NULL,
	[IsActive] [bit] NULL,
	[EditDeleteBy] [varchar](100) NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
 CONSTRAINT [PK_mCorps] PRIMARY KEY CLUSTERED 
(
	[corpsid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mHostType]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mHostType](
	[HostTypeID] [int] IDENTITY(1,1) NOT NULL,
	[HostingDesc] [varchar](50) NULL,
 CONSTRAINT [PK_mHostType] PRIMARY KEY CLUSTERED 
(
	[HostTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mRank]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mRank](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RankName] [varchar](50) NOT NULL,
	[IsDeleted] [bit] NULL,
	[IsActive] [bit] NULL,
	[EditDeleteBy] [int] NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
 CONSTRAINT [PK_mRank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mStages]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mStages](
	[StagesId] [int] IDENTITY(1,1) NOT NULL,
	[Stages] [varchar](200) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [int] NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[InitiaalID] [bit] NULL,
	[FininshID] [bit] NULL,
 CONSTRAINT [PK_mStages] PRIMARY KEY CLUSTERED 
(
	[StagesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mStakeHolder]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mStakeHolder](
	[StakeHolderId] [int] IDENTITY(1,1) NOT NULL,
	[StakeHolder] [varchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
 CONSTRAINT [PK_mStakeHolder] PRIMARY KEY CLUSTERED 
(
	[StakeHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mStatus]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StageId] [int] NOT NULL,
	[Status] [varchar](200) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [int] NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[InitiaalID] [bit] NULL,
	[FininshID] [bit] NULL,
	[TotalProj] [int] NULL,
	[Statseq] [int] NULL,
	[IsDashboard] [bit] NOT NULL,
	[Icon] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mStatus_temp]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mStatus_temp](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StageId] [int] NOT NULL,
	[Status] [varchar](200) NOT NULL,
	[ViewDescUnit] [varchar](200) NULL,
	[ViewDescStkHold] [varchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[InitiaalID] [bit] NULL,
	[FininshID] [bit] NULL,
	[TotalProj] [int] NULL,
	[Statseq] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mUserMapChat]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mUserMapChat](
	[UserMapChatId] [int] IDENTITY(1,1) NOT NULL,
	[FromUserId] [nvarchar](max) NULL,
	[ToUserId] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mWhiteListedHeader]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mWhiteListedHeader](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Header] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[ProjId] [int] NOT NULL,
	[NotificationFrom] [int] NOT NULL,
	[NotificationTo] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ReadDateTime] [datetime] NOT NULL,
	[NotificationType] [int] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proj_initialstatus]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proj_initialstatus](
	[initialstatusid] [int] IDENTITY(1,1) NOT NULL,
	[StakeHolderId] [int] NULL,
	[projid] [int] NULL,
	[psmid] [int] NULL,
	[reamarks] [nvarchar](max) NULL,
	[EditDeleteBy] [varchar](100) NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[initialstatus] [int] NULL,
 CONSTRAINT [PK_Proj_initialstatus] PRIMARY KEY CLUSTERED 
(
	[initialstatusid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjId] [int] IDENTITY(1,1) NOT NULL,
	[ProjName] [varchar](200) NOT NULL,
	[StakeHolderId] [int] NOT NULL,
	[CurrentPslmId] [int] NULL,
	[InitiatedDate] [datetime2](7) NULL,
	[CompletionDate] [datetime2](7) NULL,
	[IsWhitelisted] [varchar](200) NOT NULL,
	[Sponsor] [varchar](200) NULL,
	[InitialRemark] [varchar](200) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [int] NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[AimScope] [nvarchar](max) NULL,
	[HQandITinfraReqd] [varchar](200) NULL,
	[Hostedon] [varchar](10) NULL,
	[ContentofSWApp] [nvarchar](max) NULL,
	[ReqmtJustification] [nvarchar](max) NULL,
	[UsabilityofProposedAppln] [nvarchar](max) NULL,
	[DetlsofUserBase] [nvarchar](max) NULL,
	[EnvisagedCost] [nvarchar](max) NULL,
	[NWBandWidthReqmt] [varchar](10) NULL,
	[MajTimeLines] [nvarchar](max) NULL,
	[TechStackProposed] [nvarchar](max) NULL,
	[DataSecurity_backup] [nvarchar](max) NULL,
	[TypeofSW] [nvarchar](max) NULL,
	[BeingDevpInhouse] [varchar](200) NULL,
	[EndorsmentbyHeadof] [nvarchar](max) NULL,
	[ProjCode] [varchar](50) NULL,
	[Apptype] [int] NULL,
	[Deplytype] [varchar](100) NULL,
	[HostTypeID] [int] NULL,
	[IsSubmited] [bit] NULL,
	[IsProcess] [bit] NULL,
	[Detlsof_OS] [nvarchar](max) NULL,
	[ProposedDB_Engine] [nvarchar](max) NULL,
	[DetlsofSw_Architecture] [nvarchar](max) NULL,
	[DetlsofProposed_Architecture] [nvarchar](max) NULL,
	[DetlsPki_IAM] [nvarchar](max) NULL,
	[Technology_dependencies] [nvarchar](max) NULL,
	[Database_reqmts] [nvarchar](max) NULL,
	[Enhancement_upgradation] [nvarchar](max) NULL,
	[Details_licensing] [nvarchar](max) NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjStakeHolderMov]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjStakeHolderMov](
	[PsmId] [int] IDENTITY(1,1) NOT NULL,
	[ProjId] [int] NOT NULL,
	[StatusActionsMappingId] [int] NOT NULL,
	[TimeStamp] [datetime2](7) NULL,
	[ToUnitId] [int] NOT NULL,
	[FromUnitId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [int] NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[TostackholderDt] [datetime2](7) NULL,
	[ActionDt] [datetime2](7) NULL,
	[Remarks] [nvarchar](2000) NULL,
	[IsComplete] [bit] NULL,
	[UndoRemarks] [nvarchar](500) NULL,
	[IsRead] [bit] NULL,
	[UserDetails] [nvarchar](100) NULL,
	[IsComment] [bit] NULL,
 CONSTRAINT [PK_ProjStakeHolderMov] PRIMARY KEY CLUSTERED 
(
	[PsmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjStakeHolderMov_temp]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjStakeHolderMov_temp](
	[PsmId] [int] IDENTITY(1,1) NOT NULL,
	[ProjId] [int] NOT NULL,
	[StakeHolderId] [int] NOT NULL,
	[StageId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[ActionId] [int] NOT NULL,
	[AddRemarks] [varchar](200) NOT NULL,
	[CurrentStakeHolderId] [int] NOT NULL,
	[TimeStamp] [datetime2](7) NULL,
	[ToStakeHolderId] [int] NOT NULL,
	[FromStakeHolderId] [int] NOT NULL,
	[CommentId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[TostackholderDt] [datetime2](7) NULL,
	[ActionCde] [int] NULL,
	[ActionDt] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resultss]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resultss](
	[Result] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoftwareTypes]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoftwareTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeOfSoftware] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SoftwareTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StkComment]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StkComment](
	[StkCommentId] [int] IDENTITY(1,1) NOT NULL,
	[psmid] [int] NULL,
	[projid] [int] NULL,
	[StakeHolderId] [int] NULL,
	[ActionsId] [int] NULL,
	[Comments] [nvarchar](max) NULL,
	[StkStatusId] [int] NULL,
	[IsDeleted] [bit] NULL,
	[IsActive] [bit] NULL,
	[EditDeleteBy] [varchar](100) NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[Attpath] [varchar](100) NULL,
	[AttDesc] [varchar](100) NULL,
	[ActFileName] [varchar](100) NULL,
 CONSTRAINT [PK_Stk_Comments] PRIMARY KEY CLUSTERED 
(
	[StkCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StkStatus]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StkStatus](
	[StkStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK_Stk_Status] PRIMARY KEY CLUSTERED 
(
	[StkStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_LoginLog]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LoginLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[IP] [nvarchar](max) NULL,
	[unitid] [int] NULL,
	[logindate] [datetime] NULL,
	[userName] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[Updatedby] [int] NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_mUnitBranch]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_mUnitBranch](
	[unitid] [int] IDENTITY(1,1) NOT NULL,
	[unitname] [varchar](200) NOT NULL,
	[comdid] [int] NOT NULL,
	[unitSusNo] [varchar](200) NOT NULL,
	[TypeId] [int] NOT NULL,
	[CorpsId] [int] NULL,
	[status] [bit] NOT NULL,
	[updatedby] [varchar](200) NULL,
	[updateddt] [datetime2](7) NOT NULL,
	[commentreqdid] [bit] NULL,
 CONSTRAINT [PK_tbl_mUnitBranch] PRIMARY KEY CLUSTERED 
(
	[unitid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Type]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[IsActive] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_users]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](200) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Appointment] [varchar](200) NULL,
	[IsActive] [bit] NULL,
	[IcJcArmyNo] [varchar](50) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_tbl_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_viewActionsum]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_viewActionsum](
	[ActionsId] [int] NOT NULL,
	[actions] [varchar](100) NULL,
	[total] [int] NULL,
	[gttotal] [int] NULL,
 CONSTRAINT [PK_tbl_viewActionsum] PRIMARY KEY CLUSTERED 
(
	[ActionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_viewStageSummary]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_viewStageSummary](
	[ID] [int] NOT NULL,
	[Stagescleared] [varchar](100) NULL,
	[Projcount] [int] NULL,
 CONSTRAINT [PK_tbl_viewStageSummary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnChatMsg]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnChatMsg](
	[ChatId] [int] IDENTITY(1,1) NOT NULL,
	[UserMapChatId] [int] NULL,
	[Msg] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[IsRead] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnStatusActionsMapping]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnStatusActionsMapping](
	[StatusActionsMappingId] [int] IDENTITY(1,1) NOT NULL,
	[StatusId] [int] NOT NULL,
	[ActionsId] [int] NOT NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnUnitStatusMapping]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnUnitStatusMapping](
	[UnitStatusMappingId] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[StatusActionsMappingId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trnWhiteListed]    Script Date: 22-08-2024 17:59:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trnWhiteListed](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HeaderID] [int] NOT NULL,
	[Appt] [nvarchar](50) NULL,
	[Fmn] [nvarchar](50) NULL,
	[ContactNo] [nvarchar](50) NULL,
	[Clearence] [date] NULL,
	[CertNo] [nvarchar](50) NULL,
	[date] [date] NULL,
	[ValidUpto] [date] NULL,
	[Remarks] [nvarchar](50) NULL,
	[ProjName] [nvarchar](100) NULL,
	[ProjId] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'1789a675-9951-42a7-b064-8d7da156521f', N'Unit', N'UNIT', N'66cbd4e7-9618-4a3e-87bd-36cda91a6e08')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'bc74ba2f-6cee-4936-800d-337b6e39d01a', N'Dte', N'DTE', N'9068d139-c1b1-401d-9613-d65d717c80cf')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0dff8545-efc8-492e-b10e-6aacadbbfd5c', N'1789a675-9951-42a7-b064-8d7da156521f')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0e865760-dc88-4b14-93a4-58e06e7f3e09', N'bc74ba2f-6cee-4936-800d-337b6e39d01a')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'129b0851-8667-4228-bae6-47db66c6cb3f', N'1789a675-9951-42a7-b064-8d7da156521f')
GO
SET IDENTITY_INSERT [dbo].[AttHistory] ON 

INSERT [dbo].[AttHistory] ([AttId], [PsmId], [AttPath], [ActionId], [TimeStamp], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [Reamarks], [ActFileName]) VALUES (1, 1, N'Swas_f4642cc0-cf0b-4c67-a5a0-5b68b8dfa548.pdf', 0, CAST(N'2024-08-14T11:57:57.9916578' AS DateTime2), 0, 1, 9, CAST(N'2024-08-14T11:57:57.9916414' AS DateTime2), 9, CAST(N'2024-08-14T11:57:57.9915737' AS DateTime2), N'sas', N'24080601068342SBIN_ChallanReceipt.pdf')
INSERT [dbo].[AttHistory] ([AttId], [PsmId], [AttPath], [ActionId], [TimeStamp], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [Reamarks], [ActFileName]) VALUES (2, 37, N'Swas_1f9b8bd6-1a72-4196-8747-89e58c495174.pdf', 0, CAST(N'2024-08-14T16:11:37.7104179' AS DateTime2), 0, 1, 1, CAST(N'2024-08-14T16:11:37.7104017' AS DateTime2), 1, CAST(N'2024-08-14T16:11:37.7103361' AS DateTime2), N'hjhjh', N'Demand_Notice_2023202237184421611T.pdf')
INSERT [dbo].[AttHistory] ([AttId], [PsmId], [AttPath], [ActionId], [TimeStamp], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [Reamarks], [ActFileName]) VALUES (3, 56, N'Swas_f4ee4059-07e9-4df6-8148-95069e3aeb27.pdf', 0, CAST(N'2024-08-16T10:51:19.0619143' AS DateTime2), 0, 1, 9, CAST(N'2024-08-16T10:51:19.0618976' AS DateTime2), 9, CAST(N'2024-08-16T10:51:19.0618277' AS DateTime2), N'fsasfsa', N'Demand_Notice_2023202237184421611T.pdf')
SET IDENTITY_INSERT [dbo].[AttHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentId], [PsmId], [Comment], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (1, 1, N'Remarks12938', 0, 1, 0, CAST(N'2024-08-14T11:55:00.0000000' AS DateTime2), 9, CAST(N'2024-08-14T11:55:00.0000000' AS DateTime2))
INSERT [dbo].[Comment] ([CommentId], [PsmId], [Comment], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (2, 13, N'Remarks2915', 0, 1, 0, CAST(N'2024-08-14T12:29:00.0000000' AS DateTime2), 9, CAST(N'2024-08-14T12:29:00.0000000' AS DateTime2))
INSERT [dbo].[Comment] ([CommentId], [PsmId], [Comment], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (3, 19, N'Remarks1312', 0, 1, 0, CAST(N'2024-08-14T14:32:00.0000000' AS DateTime2), 9, CAST(N'2024-08-14T14:32:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[mActions] ON 

INSERT [dbo].[mActions] ([ActionsId], [Actions], [ActionDesc], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [OrderBy]) VALUES (1, N'FWD', N'FWD', 0, 1, 1, CAST(N'2024-05-22T09:33:44.1849566' AS DateTime2), 1, CAST(N'2024-05-22T09:33:44.1849342' AS DateTime2), 1)
INSERT [dbo].[mActions] ([ActionsId], [Actions], [ActionDesc], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [OrderBy]) VALUES (2, N'Approved / Completed', N'Approved / Completed', 0, 1, 0, CAST(N'2024-05-05T00:00:00.0000000' AS DateTime2), 1, CAST(N'2024-05-05T00:00:00.0000000' AS DateTime2), 4)
INSERT [dbo].[mActions] ([ActionsId], [Actions], [ActionDesc], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [OrderBy]) VALUES (3, N'Closed', N'Closed', 0, 1, 1, CAST(N'2024-07-19T11:57:41.3477573' AS DateTime2), 1, CAST(N'2024-07-19T11:57:41.3477560' AS DateTime2), 5)
SET IDENTITY_INSERT [dbo].[mActions] OFF
GO
SET IDENTITY_INSERT [dbo].[mAppType] ON 

INSERT [dbo].[mAppType] ([Apptype], [AppDesc]) VALUES (1, N'Web Appln')
INSERT [dbo].[mAppType] ([Apptype], [AppDesc]) VALUES (2, N'Native Appln')
INSERT [dbo].[mAppType] ([Apptype], [AppDesc]) VALUES (3, N'Website')
SET IDENTITY_INSERT [dbo].[mAppType] OFF
GO
SET IDENTITY_INSERT [dbo].[mCommand] ON 

INSERT [dbo].[mCommand] ([comdid], [Command_Name], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (1, N'SC', 0, 1, N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[mCommand] ([comdid], [Command_Name], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (2, N'EC', 0, 1, N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[mCommand] ([comdid], [Command_Name], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (3, N'WC', 0, 1, N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[mCommand] OFF
GO
SET IDENTITY_INSERT [dbo].[mCorps] ON 

INSERT [dbo].[mCorps] ([corpsid], [corpsname], [comdid], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (1, N'1 CORPS', 3, 0, 1, N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[mCorps] ([corpsid], [corpsname], [comdid], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (2, N'2 Corps', 6, 0, 1, N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[mCorps] ([corpsid], [corpsname], [comdid], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (3, N'4 Corps', 2, 0, 1, N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[mCorps] OFF
GO
SET IDENTITY_INSERT [dbo].[mHostType] ON 

INSERT [dbo].[mHostType] ([HostTypeID], [HostingDesc]) VALUES (1, N'ADN')
INSERT [dbo].[mHostType] ([HostTypeID], [HostingDesc]) VALUES (2, N'LAN')
INSERT [dbo].[mHostType] ([HostTypeID], [HostingDesc]) VALUES (3, N'Internet')
SET IDENTITY_INSERT [dbo].[mHostType] OFF
GO
SET IDENTITY_INSERT [dbo].[mRank] ON 

INSERT [dbo].[mRank] ([Id], [RankName], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (1, N'General', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[mRank] ([Id], [RankName], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (2, N'Lt General', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[mRank] ([Id], [RankName], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (3, N'Maj General', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[mRank] OFF
GO
SET IDENTITY_INSERT [dbo].[mStages] ON 

INSERT [dbo].[mStages] ([StagesId], [Stages], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID]) VALUES (1, N'Initial Stage', 0, 1, 2, CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), 2, CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), 1, NULL)
INSERT [dbo].[mStages] ([StagesId], [Stages], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID]) VALUES (2, N'Pre Devp Stage', 0, 1, 1, CAST(N'2024-05-22T15:33:50.7511251' AS DateTime2), 1, CAST(N'2024-05-22T15:33:50.7511265' AS DateTime2), 0, 0)
INSERT [dbo].[mStages] ([StagesId], [Stages], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID]) VALUES (3, N'Post Devp Stage', 0, 1, 2, CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), 2, CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[mStages] OFF
GO
SET IDENTITY_INSERT [dbo].[mStakeHolder] ON 

INSERT [dbo].[mStakeHolder] ([StakeHolderId], [StakeHolder], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (1, N'DG SIGS', 0, 1, N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'7', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[mStakeHolder] ([StakeHolderId], [StakeHolder], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (2, N'DG IS', 0, 1, N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'6', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[mStakeHolder] ([StakeHolderId], [StakeHolder], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (3, N'DG MI', 0, 1, N'3', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'5', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[mStakeHolder] OFF
GO
SET IDENTITY_INSERT [dbo].[mStatus] ON 

INSERT [dbo].[mStatus] ([StatusId], [StageId], [Status], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TotalProj], [Statseq], [IsDashboard], [Icon]) VALUES (1, 1, N'New Projects', 0, 1, 2, CAST(N'2024-07-19T10:28:00.0000000' AS DateTime2), 3, CAST(N'2024-07-19T10:28:00.0000000' AS DateTime2), 1, NULL, NULL, 1, 1, N'adduser.png')
INSERT [dbo].[mStatus] ([StatusId], [StageId], [Status], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TotalProj], [Statseq], [IsDashboard], [Icon]) VALUES (2, 1, N'Obsn', 0, 1, 2, CAST(N'2024-07-19T10:28:00.0000000' AS DateTime2), 3, CAST(N'2024-07-19T10:28:00.0000000' AS DateTime2), NULL, NULL, NULL, 3, 1, N'ret.png')
INSERT [dbo].[mStatus] ([StatusId], [StageId], [Status], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TotalProj], [Statseq], [IsDashboard], [Icon]) VALUES (3, 1, N'Obsn Rectified', 0, 1, 2, CAST(N'2024-07-19T10:28:00.0000000' AS DateTime2), 3, CAST(N'2024-07-19T10:28:00.0000000' AS DateTime2), NULL, NULL, NULL, 2, 1, N'prog.png')
SET IDENTITY_INSERT [dbo].[mStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[mStatus_temp] ON 

INSERT [dbo].[mStatus_temp] ([StatusId], [StageId], [Status], [ViewDescUnit], [ViewDescStkHold], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TotalProj], [Statseq]) VALUES (1, 1, N'New Project', N'Submitted (Initiated)', N'New Projects', 0, 1, N'2', NULL, N'3', NULL, 1, NULL, NULL, 1)
INSERT [dbo].[mStatus_temp] ([StatusId], [StageId], [Status], [ViewDescUnit], [ViewDescStkHold], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TotalProj], [Statseq]) VALUES (2, 1, N'Returned (with Obsn)', N'Returned (with Obsn)', N'Returned (with Obsn)', 0, 1, N'2', NULL, N'3', NULL, NULL, NULL, NULL, 3)
INSERT [dbo].[mStatus_temp] ([StatusId], [StageId], [Status], [ViewDescUnit], [ViewDescStkHold], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TotalProj], [Statseq]) VALUES (3, 1, N'Resubmitted (Obsn Rectified)', N'Resubmitted (Obsn Rectified)', N'Resubmitted (Obsn Rectified)', 0, 1, N'2', NULL, N'3', NULL, NULL, NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[mStatus_temp] OFF
GO
SET IDENTITY_INSERT [dbo].[mUserMapChat] ON 

INSERT [dbo].[mUserMapChat] ([UserMapChatId], [FromUserId], [ToUserId]) VALUES (1, N'3df4d4e1-a4cb-456c-9fd1-4e77f6b71aaf', N'0dff8545-efc8-492e-b10e-6aacadbbfd5c')
INSERT [dbo].[mUserMapChat] ([UserMapChatId], [FromUserId], [ToUserId]) VALUES (2, N'96ab96c3-cff6-4a12-afc3-70cecd18bda7', N'0dff8545-efc8-492e-b10e-6aacadbbfd5c')
INSERT [dbo].[mUserMapChat] ([UserMapChatId], [FromUserId], [ToUserId]) VALUES (3, N'0dff8545-efc8-492e-b10e-6aacadbbfd5c', N'96ab96c3-cff6-4a12-afc3-70cecd18bda7')
SET IDENTITY_INSERT [dbo].[mUserMapChat] OFF
GO
SET IDENTITY_INSERT [dbo].[mWhiteListedHeader] ON 

INSERT [dbo].[mWhiteListedHeader] ([Id], [Header]) VALUES (1, N'Lan')
INSERT [dbo].[mWhiteListedHeader] ([Id], [Header]) VALUES (2, N'Stanalone Pc')
SET IDENTITY_INSERT [dbo].[mWhiteListedHeader] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NotificationId], [ProjId], [NotificationFrom], [NotificationTo], [IsRead], [ReadDateTime], [NotificationType]) VALUES (1, 22, 1, 1, 1, CAST(N'2024-08-22T16:41:09.800' AS DateTime), 2)
INSERT [dbo].[Notification] ([NotificationId], [ProjId], [NotificationFrom], [NotificationTo], [IsRead], [ReadDateTime], [NotificationType]) VALUES (2, 4, 1, 2, 1, CAST(N'2024-08-22T09:43:12.293' AS DateTime), 2)
INSERT [dbo].[Notification] ([NotificationId], [ProjId], [NotificationFrom], [NotificationTo], [IsRead], [ReadDateTime], [NotificationType]) VALUES (3, 9, 1, 1, 1, CAST(N'2024-08-22T09:44:39.660' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjStakeHolderMov] ON 

INSERT [dbo].[ProjStakeHolderMov] ([PsmId], [ProjId], [StatusActionsMappingId], [TimeStamp], [ToUnitId], [FromUnitId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [TostackholderDt], [ActionDt], [Remarks], [IsComplete], [UndoRemarks], [IsRead], [UserDetails], [IsComment]) VALUES (1, 1, 1, CAST(N'2024-08-14T11:55:00.0000000' AS DateTime2), 1, 9, 0, 1, 9, CAST(N'2024-08-14T11:55:00.0000000' AS DateTime2), 9, CAST(N'2024-08-22T11:32:16.7003548' AS DateTime2), NULL, NULL, N'Remarks12938', 1, NULL, 0, N'Lt Col A J SINGH / unit3', 0)
INSERT [dbo].[ProjStakeHolderMov] ([PsmId], [ProjId], [StatusActionsMappingId], [TimeStamp], [ToUnitId], [FromUnitId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [TostackholderDt], [ActionDt], [Remarks], [IsComplete], [UndoRemarks], [IsRead], [UserDetails], [IsComment]) VALUES (2, 1, 26, CAST(N'2024-08-14T11:55:00.0000000' AS DateTime2), 4, 1, 0, 1, 1, CAST(N'2024-08-14T11:55:00.0000000' AS DateTime2), 1, CAST(N'2024-08-22T11:32:16.7231058' AS DateTime2), NULL, NULL, N'', 0, NULL, 0, N'Lt Col manish / ddgit', 1)
INSERT [dbo].[ProjStakeHolderMov] ([PsmId], [ProjId], [StatusActionsMappingId], [TimeStamp], [ToUnitId], [FromUnitId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [TostackholderDt], [ActionDt], [Remarks], [IsComplete], [UndoRemarks], [IsRead], [UserDetails], [IsComment]) VALUES (3, 1, 31, CAST(N'2024-08-14T11:55:00.0000000' AS DateTime2), 3, 1, 0, 1, 1, CAST(N'2024-08-14T11:55:00.0000000' AS DateTime2), 1, CAST(N'2024-08-22T11:32:16.7313559' AS DateTime2), NULL, NULL, N'', 0, NULL, 0, N'Lt Col manish / ddgit', 1)
GO
SET IDENTITY_INSERT [dbo].[ProjStakeHolderMov] OFF
GO
SET IDENTITY_INSERT [dbo].[StkComment] ON 

INSERT [dbo].[StkComment] ([StkCommentId], [psmid], [projid], [StakeHolderId], [ActionsId], [Comments], [StkStatusId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [Attpath], [AttDesc], [ActFileName]) VALUES (1, 26, 4, 1, NULL, N'sdsdss', 2, 0, 1, N'1', CAST(N'2024-08-14T14:44:00.0000000' AS DateTime2), N'1', CAST(N'2024-08-14T14:44:00.0000000' AS DateTime2), N'', NULL, NULL)
INSERT [dbo].[StkComment] ([StkCommentId], [psmid], [projid], [StakeHolderId], [ActionsId], [Comments], [StkStatusId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [Attpath], [AttDesc], [ActFileName]) VALUES (2, 26, 4, 1, NULL, N'sdsdss', 2, 0, 1, N'1', CAST(N'2024-08-14T14:44:00.0000000' AS DateTime2), N'1', CAST(N'2024-08-14T14:44:00.0000000' AS DateTime2), N'', NULL, NULL)
INSERT [dbo].[StkComment] ([StkCommentId], [psmid], [projid], [StakeHolderId], [ActionsId], [Comments], [StkStatusId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [Attpath], [AttDesc], [ActFileName]) VALUES (3, 26, 4, 1, NULL, N'cvcv', 3, 0, 1, N'1', CAST(N'2024-08-14T14:44:00.0000000' AS DateTime2), N'1', CAST(N'2024-08-14T14:44:00.0000000' AS DateTime2), N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[StkComment] OFF
GO
SET IDENTITY_INSERT [dbo].[StkStatus] ON 

INSERT [dbo].[StkStatus] ([StkStatusId], [Status]) VALUES (1, N'Accepted')
INSERT [dbo].[StkStatus] ([StkStatusId], [Status]) VALUES (2, N'Observation')
INSERT [dbo].[StkStatus] ([StkStatusId], [Status]) VALUES (3, N'Rejected')
SET IDENTITY_INSERT [dbo].[StkStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_LoginLog] ON 

INSERT [dbo].[tbl_LoginLog] ([Id], [UserId], [IP], [unitid], [logindate], [userName], [IsActive], [Updatedby], [UpdatedOn]) VALUES (20, 3, N'0.0.0.1', 1, CAST(N'2024-06-26T16:59:22.990' AS DateTime), N'ddgit', 1, 0, CAST(N'2024-06-26T16:59:22.990' AS DateTime))
INSERT [dbo].[tbl_LoginLog] ([Id], [UserId], [IP], [unitid], [logindate], [userName], [IsActive], [Updatedby], [UpdatedOn]) VALUES (21, 3, N'0.0.0.1', 1, CAST(N'2024-06-26T16:59:22.990' AS DateTime), N'ddgit', 1, 0, CAST(N'2024-06-26T16:59:22.990' AS DateTime))
INSERT [dbo].[tbl_LoginLog] ([Id], [UserId], [IP], [unitid], [logindate], [userName], [IsActive], [Updatedby], [UpdatedOn]) VALUES (22, 0, N'0.0.0.1', 9, CAST(N'2024-06-26T17:00:25.460' AS DateTime), N'unit_2024', 1, 0, CAST(N'2024-06-26T17:00:25.460' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[tbl_LoginLog] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_mUnitBranch] ON 

INSERT [dbo].[tbl_mUnitBranch] ([unitid], [unitname], [comdid], [unitSusNo], [TypeId], [CorpsId], [status], [updatedby], [updateddt], [commentreqdid]) VALUES (1, N'DDGIT', 0, N'765765', 1, 0, 1, N'24', CAST(N'2023-01-02T09:50:50.0000000' AS DateTime2), 1)
INSERT [dbo].[tbl_mUnitBranch] ([unitid], [unitname], [comdid], [unitSusNo], [TypeId], [CorpsId], [status], [updatedby], [updateddt], [commentreqdid]) VALUES (2, N'DGIS', 1, N'ASDC001', 1, 1, 1, N'sdfdsf', CAST(N'2023-01-11T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[tbl_mUnitBranch] ([unitid], [unitname], [comdid], [unitSusNo], [TypeId], [CorpsId], [status], [updatedby], [updateddt], [commentreqdid]) VALUES (3, N'ACG', 1, N'MISO123', 1, 2, 1, N'sdfdf', CAST(N'2023-08-17T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[tbl_mUnitBranch] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Type] ON 

INSERT [dbo].[tbl_Type] ([Id], [Name], [IsActive]) VALUES (1, N'Dte', 1)
INSERT [dbo].[tbl_Type] ([Id], [Name], [IsActive]) VALUES (6, N'Unit', 1)
SET IDENTITY_INSERT [dbo].[tbl_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_users] ON 

INSERT [dbo].[tbl_users] ([Id], [UserName], [UnitId], [Appointment], [IsActive], [IcJcArmyNo], [IsDeleted]) VALUES (7, N'gso1semg_asdc_ihqa', 3076, N'GSO1 SEMG ASDC', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_users] OFF
GO
SET IDENTITY_INSERT [dbo].[TrnChatMsg] ON 

INSERT [dbo].[TrnChatMsg] ([ChatId], [UserMapChatId], [Msg], [CreatedOn], [IsRead]) VALUES (1, 2, N'hi sir its me Sanjib', CAST(N'2024-08-20T10:36:23.147' AS DateTime), 1)
INSERT [dbo].[TrnChatMsg] ([ChatId], [UserMapChatId], [Msg], [CreatedOn], [IsRead]) VALUES (2, 3, N'Ok sir how r you', CAST(N'2024-08-20T10:37:51.270' AS DateTime), 0)
INSERT [dbo].[TrnChatMsg] ([ChatId], [UserMapChatId], [Msg], [CreatedOn], [IsRead]) VALUES (3, 4, N'gfgfgf', CAST(N'2024-08-20T12:44:55.467' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[TrnChatMsg] OFF
GO
SET IDENTITY_INSERT [dbo].[TrnStatusActionsMapping] ON 

INSERT [dbo].[TrnStatusActionsMapping] ([StatusActionsMappingId], [StatusId], [ActionsId], [IsActive]) VALUES (1, 1, 1, 1)
INSERT [dbo].[TrnStatusActionsMapping] ([StatusActionsMappingId], [StatusId], [ActionsId], [IsActive]) VALUES (3, 1, 3, 1)
INSERT [dbo].[TrnStatusActionsMapping] ([StatusActionsMappingId], [StatusId], [ActionsId], [IsActive]) VALUES (4, 1, 10, 1)
GO
SET IDENTITY_INSERT [dbo].[TrnStatusActionsMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[TrnUnitStatusMapping] ON 

INSERT [dbo].[TrnUnitStatusMapping] ([UnitStatusMappingId], [UnitId], [StatusActionsMappingId]) VALUES (1, 2, 48)
INSERT [dbo].[TrnUnitStatusMapping] ([UnitStatusMappingId], [UnitId], [StatusActionsMappingId]) VALUES (2, 1, 53)
INSERT [dbo].[TrnUnitStatusMapping] ([UnitStatusMappingId], [UnitId], [StatusActionsMappingId]) VALUES (1002, 3, 68)
SET IDENTITY_INSERT [dbo].[TrnUnitStatusMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[trnWhiteListed] ON 

INSERT [dbo].[trnWhiteListed] ([Id], [HeaderID], [Appt], [Fmn], [ContactNo], [Clearence], [CertNo], [date], [ValidUpto], [Remarks], [ProjName], [ProjId]) VALUES (1, 1, N'CO', N'AFTC', N'5646', CAST(N'2024-01-01' AS Date), N'49/1', CAST(N'2024-01-01' AS Date), CAST(N'2025-01-01' AS Date), N'OK', N'E-book', 1)
INSERT [dbo].[trnWhiteListed] ([Id], [HeaderID], [Appt], [Fmn], [ContactNo], [Clearence], [CertNo], [date], [ValidUpto], [Remarks], [ProjName], [ProjId]) VALUES (3, 2, N'GSO', N'ASC', N'456464', CAST(N'2024-02-02' AS Date), N'49/5', CAST(N'2024-03-03' AS Date), CAST(N'2025-03-03' AS Date), N'okkkk', N'AFSAc', 2)
INSERT [dbo].[trnWhiteListed] ([Id], [HeaderID], [Appt], [Fmn], [ContactNo], [Clearence], [CertNo], [date], [ValidUpto], [Remarks], [ProjName], [ProjId]) VALUES (4, 1, N'CO', N'AFTC', N'5646', CAST(N'2024-01-01' AS Date), N'49/1', CAST(N'2024-01-01' AS Date), CAST(N'2025-01-01' AS Date), N'OK', N'E-book', 3)
GO
SET IDENTITY_INSERT [dbo].[trnWhiteListed] OFF
GO
ALTER TABLE [dbo].[mStatus] ADD  CONSTRAINT [DF_mStatus_IsDashboard]  DEFAULT ((0)) FOR [IsDashboard]
GO
ALTER TABLE [dbo].[ProjStakeHolderMov] ADD  CONSTRAINT [DF_ProjStakeHolderMov_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[ProjStakeHolderMov] ADD  CONSTRAINT [DF_ProjStakeHolderMov_IsComment]  DEFAULT ((0)) FOR [IsComment]
GO
ALTER TABLE [dbo].[tbl_mUnitBranch] ADD  CONSTRAINT [DF_tbl_mUnitBranch_updatedby]  DEFAULT ('0') FOR [updatedby]
GO
ALTER TABLE [dbo].[tbl_mUnitBranch] ADD  CONSTRAINT [DF_tbl_mUnitBranch_commentreqdid]  DEFAULT ((0)) FOR [commentreqdid]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_mAppType] FOREIGN KEY([Apptype])
REFERENCES [dbo].[mAppType] ([Apptype])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_mAppType]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_mHostType] FOREIGN KEY([HostTypeID])
REFERENCES [dbo].[mHostType] ([HostTypeID])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_mHostType]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_tbl_mUnitBranch] FOREIGN KEY([StakeHolderId])
REFERENCES [dbo].[tbl_mUnitBranch] ([unitid])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_tbl_mUnitBranch]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [EnvisagedCost] CHECK  (([EnvisagedCost]>=(0)))
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [EnvisagedCost]
GO
/****** Object:  StoredProcedure [dbo].[getAppTypeCounts]    Script Date: 22-08-2024 17:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAppTypeCounts]
AS
BEGIN
    CREATE TABLE #AppTypeCounts (
        serNo        INT          ,
        MonthStart   NVARCHAR (50),
        MonthName    NVARCHAR (50),
        AppType      int ,
        AppDesc      NVARCHAR (50),
        AppTypeCount INT          
    );
    DECLARE @Calendar TABLE (
        MonthStart DATETIME);
    DECLARE @EndDate AS DATETIME = GETDATE();
    WITH MonthRange
    AS   (SELECT 0 AS MonthOffset,
                 DATEADD(MONTH, 0, @EndDate) AS MonthStart
          UNION ALL
          SELECT MonthOffset + 1,
                 DATEADD(MONTH, -MonthOffset - 1, @EndDate)
          FROM   MonthRange
          WHERE  MonthOffset < 5)
    INSERT INTO @Calendar (MonthStart)
    SELECT MonthStart
    FROM   MonthRange;
    INSERT INTO #AppTypeCounts (serNo, MonthStart, MonthName, AppType, AppDesc, AppTypeCount)
    SELECT   ROW_NUMBER() OVER (ORDER BY c.MonthStart) AS serNo,
             c.MonthStart,
             DATENAME(MONTH, c.MonthStart) + ' ' + RIGHT(YEAR(c.MonthStart), 2) AS MonthName,
             b.Apptype AS AppType,
             MAX(b.AppDesc) AS AppDesc,
             COUNT(a.Apptype) AS AppTypeCount
    FROM     @Calendar AS c
             LEFT OUTER JOIN
             [Projects] AS a
             ON MONTH(c.MonthStart) = MONTH(a.EditDeleteDate)
                AND YEAR(c.MonthStart) = YEAR(a.EditDeleteDate)
             LEFT OUTER JOIN
             [mAppType] AS b
             ON a.Apptype = b.[Apptype]
             LEFT OUTER JOIN
             [ProjStakeHolderMov] AS d
             ON d.[PsmId] = a.[CurrentPslmId]
                AND c.MonthStart >= d.[TimeStamp]
                AND c.MonthStart < DATEADD(MONTH, 1, d.[TimeStamp])
    WHERE    (d.ActionDt IS NULL
              )
    GROUP BY c.MonthStart, b.Apptype;
    SELECT   *
    FROM     #AppTypeCounts
    ORDER BY serNo ASC;
    DROP TABLE #AppTypeCounts;
END
GO
/****** Object:  StoredProcedure [dbo].[GetMonthInOutSanJson_FIN]    Script Date: 22-08-2024 17:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMonthInOutSanJson_FIN]
AS
BEGIN
    DECLARE @DynamicSQL AS NVARCHAR (MAX);
    CREATE TABLE #Result (
        unitid         INT          ,
        [MonthName]    NVARCHAR (50),
        TotalIn        INT          ,
        UnitCategory   NVARCHAR (50),
        MonthStartDate DATETIME     ,
        MonthEndDate   DATETIME     
    );
    INSERT INTO #Result (unitid, [MonthName], TotalIn, UnitCategory, MonthStartDate, MonthEndDate)
    EXECUTE getMonthInOutSummarySINGLE ;
    SET @DynamicSQL = N'
    SELECT unitid, UnitCategory, ' + STUFF((SELECT   ', ' + QUOTENAME([MonthName])
                                                                      FROM     (SELECT DISTINCT [MonthName],
                                                                                                MonthStartDate
                                                                                FROM   #Result) AS OrderedMonths
                                                                      ORDER BY MonthStartDate
                                                                      FOR      XML PATH (''), TYPE).value('.', 'VARCHAR(MAX)'), 1, 2, '') + '
    FROM (
        SELECT unitid, UnitCategory, MonthName, TotalIn
        FROM #Result
    ) AS PivotData
    PIVOT (
        SUM(TotalIn) FOR MonthName IN (' + STUFF((SELECT   ', ' + QUOTENAME([MonthName])
                                                                                                                                                                                                                                                                                                                             FROM     (SELECT DISTINCT [MonthName],
                                                                                                                                                                                                                                                                                                                                                       MonthStartDate
                                                                                                                                                                                                                                                                                                                                       FROM   #Result) AS OrderedMonths
                                                                                                                                                                                                                                                                                                                             ORDER BY MonthStartDate
                                                                                                                                                                                                                                                                                                                             FOR      XML PATH (''), TYPE).value('.', 'VARCHAR(MAX)'), 1, 2, '') + ')
    ) AS PivotTable
    FOR JSON AUTO';
    EXECUTE sp_executesql @DynamicSQL;
    DROP TABLE #Result;
END

GO
/****** Object:  StoredProcedure [dbo].[getMonthInOutSummary]    Script Date: 22-08-2024 17:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getMonthInOutSummary]
AS
BEGIN
    DECLARE @MonthData TABLE (
        MonthOffset    INT          ,
        MonthNames     NVARCHAR (50),
        MonthNameYr    NVARCHAR (50),
        MonthStartDate DATETIME     ,
        MonthEndDate   DATETIME     );
    DECLARE @StkData TABLE (
        unitid         INT          ,
        MonthNames     NVARCHAR (50),
        MonthNameYr    NVARCHAR (50),
        MonthStartDate DATETIME     ,
        MonthEndDate   DATETIME     ,
        TotalIn        INT          ,
        TotalOut       INT          );
    WITH MonthRange
    AS   (SELECT 0 AS MonthOffset
          UNION ALL
          SELECT MonthOffset + 1
          FROM   MonthRange
          WHERE  MonthOffset < 6)
    INSERT INTO @MonthData (MonthOffset, MonthNames, MonthNameYr, MonthStartDate, MonthEndDate)
    SELECT MonthOffset,
           DATENAME(MONTH, DATEADD(MONTH, -MonthOffset, GETDATE())) + ' ' + RIGHT(YEAR(DATEADD(MONTH, -MonthOffset, GETDATE())), 0) AS MonthName,
           DATENAME(MONTH, DATEADD(MONTH, -MonthOffset, GETDATE())) + ' ' + RIGHT(YEAR(DATEADD(MONTH, -MonthOffset, GETDATE())), 2) AS MonthNameYr,
           DATEADD(MONTH, -MonthOffset, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0)) AS MonthStartDate,
           DATEADD(DAY, -1, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) - MonthOffset + 1, 0)) AS MonthEndDate
    FROM   MonthRange;
    DECLARE @StkIds TABLE (
        unitid INT);
    INSERT INTO @StkIds (unitid)
    SELECT DISTINCT unitid
    FROM   tbl_mUnitBranch
    WHERE  unitid < 6;
    DECLARE @CurrentStkId AS INT;
    DECLARE @TotalIn AS INT;
    DECLARE @TotalOut AS INT;
    DECLARE stk_cursor CURSOR
        FOR SELECT unitid
            FROM   @StkIds;
    OPEN stk_cursor;
    FETCH NEXT FROM stk_cursor INTO @CurrentStkId;
    WHILE @@FETCH_STATUS = 0
        BEGIN
            INSERT INTO @StkData (unitid, MonthNames, MonthNameYr, MonthStartDate, MonthEndDate, TotalIn, TotalOut)
            SELECT @CurrentStkId,
                   md.MonthNames,
                   md.MonthNameYr,
                   md.MonthStartDate,
                   md.MonthEndDate,
                   (SELECT COUNT(a.PsmId)
                    FROM   ProjStakeHolderMov AS a
                    WHERE  (a.[TimeStamp] BETWEEN md.MonthStartDate AND md.MonthEndDate)
                           AND (a.ToUnitId = @CurrentStkId)) AS TotalIn,
                   (SELECT COUNT(a.PsmId)
                    FROM   ProjStakeHolderMov AS a
                    WHERE  (a.[TimeStamp] BETWEEN md.MonthStartDate AND md.MonthEndDate)
                           AND (a.ToUnitId = @CurrentStkId)) AS TotalOut
            FROM   @MonthData AS md;
            FETCH NEXT FROM stk_cursor INTO @CurrentStkId;
        END
    CLOSE stk_cursor;
    DEALLOCATE stk_cursor;
    SELECT   CAST (ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS INT) AS serno,
             a.unitid,
             A.[MonthNames],
             a.MonthNameYr,
             a.TotalIn,
             a.TotalOut,
             b.unitname
    FROM     @StkData AS a
             LEFT OUTER JOIN
             tbl_mUnitBranch AS b
             ON a.unitid = b.unitid
    ORDER BY a.MonthStartDate;
END
GO
USE [master]
GO
