USE [master]
GO
/****** Object:  Database [PAWDB]    Script Date: 23-02-2024 15:30:46 ******/
CREATE DATABASE [PAWDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PAWDB1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PAWDB1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PAWDB_log1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PAWDB_log1.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PAWDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PAWDB]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[domain_iam] [nvarchar](max) NULL,
	[description_iam] [nvarchar](max) NULL,
	[RoleName_IAM] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[unitid] [int] NULL,
	[appointment] [nvarchar](max) NULL,
	[icno] [nvarchar](15) NULL,
	[rank] [nchar](15) NULL,
	[Offr_Name] [nchar](70) NULL,
	[Tele_Army] [nchar](70) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttHistComment]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttHistComment](
	[Attid] [int] IDENTITY(1,1) NOT NULL,
	[PsmId] [int] NOT NULL,
	[AttPath] [varchar](200) NOT NULL,
	[StkCommentId] [int] NOT NULL,
	[TimeStamp] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[Reamarks] [varchar](250) NULL,
	[ActFileName] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttHistory]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttHistory](
	[AttId] [int] IDENTITY(1,1) NOT NULL,
	[PsmId] [int] NOT NULL,
	[AttPath] [varchar](200) NOT NULL,
	[ActionId] [int] NOT NULL,
	[TimeStamp] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[Reamarks] [varchar](250) NULL,
	[ActFileName] [varchar](200) NULL,
 CONSTRAINT [PK_AttHistory] PRIMARY KEY CLUSTERED 
(
	[AttId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[PsmId] [int] NOT NULL,
	[Comment] [varchar](250) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mActionmapping]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mActionmapping](
	[Mappingid] [int] IDENTITY(1,1) NOT NULL,
	[Unitid] [int] NOT NULL,
	[Statusid] [int] NULL,
	[Mandatoryactionid] [int] NOT NULL,
	[Nextstage] [int] NULL,
	[Nextstatus] [int] NULL,
	[Defaultfwdunitid] [int] NULL,
	[Hidestatus] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mActions]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mActions](
	[ActionsId] [int] IDENTITY(1,1) NOT NULL,
	[Actions] [varchar](200) NOT NULL,
	[ActionDesc] [varchar](200) NULL,
	[Actionseq] [int] NULL,
	[StatCompId] [int] NULL,
	[StatusId] [int] NULL,
	[StagesId] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[InitiaalID] [bit] NULL,
	[FininshID] [bit] NULL,
	[TimeLimit] [int] NULL,
	[ObsnFlag] [bit] NULL,
 CONSTRAINT [PK_mActions] PRIMARY KEY CLUSTERED 
(
	[ActionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mAppType]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mAppType](
	[Apptype] [int] IDENTITY(1,1) NOT NULL,
	[AppDesc] [varchar](50) NULL,
 CONSTRAINT [PK_mAppType] PRIMARY KEY CLUSTERED 
(
	[Apptype] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mCommand]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mCommand](
	[comdid] [int] IDENTITY(1,1) NOT NULL,
	[Command_Name] [varchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[IsActive] [bit] NULL,
	[EditDeleteBy] [varchar](100) NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
 CONSTRAINT [PK_mCommand] PRIMARY KEY CLUSTERED 
(
	[comdid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mCorps]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mCorps](
	[corpsid] [int] IDENTITY(1,1) NOT NULL,
	[corpsname] [varchar](50) NOT NULL,
	[comdid] [int] NULL,
	[IsDeleted] [bit] NULL,
	[IsActive] [bit] NULL,
	[EditDeleteBy] [varchar](100) NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
 CONSTRAINT [PK_mCorps] PRIMARY KEY CLUSTERED 
(
	[corpsid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mHostType]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mHostType](
	[HostTypeID] [int] IDENTITY(1,1) NOT NULL,
	[HostingDesc] [varchar](50) NULL,
 CONSTRAINT [PK_mHostType] PRIMARY KEY CLUSTERED 
(
	[HostTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mStages]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mStages](
	[StagesId] [int] IDENTITY(1,1) NOT NULL,
	[Stages] [varchar](200) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[InitiaalID] [bit] NULL,
	[FininshID] [bit] NULL,
 CONSTRAINT [PK_mStages] PRIMARY KEY CLUSTERED 
(
	[StagesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mStakeHolder]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mStakeHolder](
	[StakeHolderId] [int] IDENTITY(1,1) NOT NULL,
	[StakeHolder] [varchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
 CONSTRAINT [PK_mStakeHolder] PRIMARY KEY CLUSTERED 
(
	[StakeHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mStatus]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StageId] [int] NOT NULL,
	[Status] [varchar](200) NOT NULL,
	[ViewDescUnit] [varchar](200) NULL,
	[ViewDescStkHold] [varchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[InitiaalID] [bit] NULL,
	[FininshID] [bit] NULL,
	[TotalProj] [int] NULL,
	[Statseq] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mStatus_temp]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mStatus_temp](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StageId] [int] NOT NULL,
	[Status] [varchar](200) NOT NULL,
	[ViewDescUnit] [varchar](200) NULL,
	[ViewDescStkHold] [varchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[InitiaalID] [bit] NULL,
	[FininshID] [bit] NULL,
	[TotalProj] [int] NULL,
	[Statseq] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proj_initialstatus]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proj_initialstatus](
	[initialstatusid] [int] IDENTITY(1,1) NOT NULL,
	[StakeHolderId] [int] NULL,
	[projid] [int] NULL,
	[psmid] [int] NULL,
	[reamarks] [nvarchar](max) NULL,
	[EditDeleteBy] [varchar](100) NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[initialstatus] [int] NULL,
 CONSTRAINT [PK_Proj_initialstatus] PRIMARY KEY CLUSTERED 
(
	[initialstatusid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjId] [int] IDENTITY(1,1) NOT NULL,
	[ProjName] [varchar](200) NOT NULL,
	[StakeHolderId] [int] NOT NULL,
	[CurrentPslmId] [int] NULL,
	[InitiatedDate] [datetime2](7) NULL,
	[CompletionDate] [datetime2](7) NULL,
	[IsWhitelisted] [varchar](200) NOT NULL,
	[InitialRemark] [varchar](200) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[AimScope] [nvarchar](max) NULL,
	[HQandITinfraReqd] [varchar](200) NULL,
	[Hostedon] [varchar](10) NULL,
	[ContentofSWApp] [nvarchar](max) NULL,
	[ReqmtJustification] [nvarchar](max) NULL,
	[UsabilityofProposedAppln] [nvarchar](max) NULL,
	[DetlsofUserBase] [nvarchar](max) NULL,
	[EnvisagedCost] [int] NULL,
	[NWBandWidthReqmt] [varchar](10) NULL,
	[MajTimeLines] [nvarchar](max) NULL,
	[TechStackProposed] [nvarchar](max) NULL,
	[DataSecurity_backup] [nvarchar](max) NULL,
	[TypeofSW] [nvarchar](max) NULL,
	[BeingDevpInhouse] [varchar](200) NULL,
	[EndorsmentbyHeadof] [nvarchar](max) NULL,
	[ProjCode] [varchar](50) NULL,
	[Apptype] [int] NULL,
	[Deplytype] [varchar](100) NULL,
	[HostTypeID] [int] NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjStakeHolderMov]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjStakeHolderMov](
	[PsmId] [int] IDENTITY(1,1) NOT NULL,
	[ProjId] [int] NOT NULL,
	[grouppsmid] [int] NULL,
	[StakeHolderId] [int] NOT NULL,
	[StageId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[ActionId] [int] NOT NULL,
	[AddRemarks] [varchar](200) NOT NULL,
	[CurrentStakeHolderId] [int] NOT NULL,
	[TimeStamp] [datetime2](7) NULL,
	[ToStakeHolderId] [int] NOT NULL,
	[FromStakeHolderId] [int] NOT NULL,
	[CommentId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[TostackholderDt] [datetime2](7) NULL,
	[ActionCde] [int] NULL,
	[ActionDt] [datetime2](7) NULL,
 CONSTRAINT [PK_ProjStakeHolderMov] PRIMARY KEY CLUSTERED 
(
	[PsmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjStakeHolderMov_temp]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjStakeHolderMov_temp](
	[PsmId] [int] IDENTITY(1,1) NOT NULL,
	[ProjId] [int] NOT NULL,
	[StakeHolderId] [int] NOT NULL,
	[StageId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[ActionId] [int] NOT NULL,
	[AddRemarks] [varchar](200) NOT NULL,
	[CurrentStakeHolderId] [int] NOT NULL,
	[TimeStamp] [datetime2](7) NULL,
	[ToStakeHolderId] [int] NOT NULL,
	[FromStakeHolderId] [int] NOT NULL,
	[CommentId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[TostackholderDt] [datetime2](7) NULL,
	[ActionCde] [int] NULL,
	[ActionDt] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resultss]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resultss](
	[Result] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoftwareTypes]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoftwareTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeOfSoftware] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SoftwareTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StkComment]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StkComment](
	[StkCommentId] [int] IDENTITY(1,1) NOT NULL,
	[psmid] [int] NULL,
	[projid] [int] NULL,
	[StakeHolderId] [int] NULL,
	[ActionsId] [int] NULL,
	[Comments] [nvarchar](max) NULL,
	[StkStatusId] [int] NULL,
	[IsDeleted] [bit] NULL,
	[IsActive] [bit] NULL,
	[EditDeleteBy] [varchar](100) NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[Attpath] [varchar](100) NULL,
	[AttDesc] [varchar](100) NULL,
	[ActFileName] [varchar](100) NULL,
 CONSTRAINT [PK_Stk_Comments] PRIMARY KEY CLUSTERED 
(
	[StkCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StkStatus]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StkStatus](
	[StkStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK_Stk_Status] PRIMARY KEY CLUSTERED 
(
	[StkStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_mUnitBranch]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_mUnitBranch](
	[unitid] [int] IDENTITY(1,1) NOT NULL,
	[unitname] [varchar](200) NOT NULL,
	[comdid] [int] NOT NULL,
	[unitSusNo] [varchar](200) NOT NULL,
	[area_loc] [varchar](200) NULL,
	[TypeId] [int] NOT NULL,
	[CorpsId] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[updatedby] [varchar](200) NOT NULL,
	[updateddt] [datetime2](7) NOT NULL,
	[commentreqdid] [bit] NULL,
 CONSTRAINT [PK_tbl_mUnitBranch] PRIMARY KEY CLUSTERED 
(
	[unitid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Type]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[IsActive] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_users]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](200) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Appointment] [varchar](200) NULL,
	[IsActive] [bit] NULL,
	[IcJcArmyNo] [varchar](50) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_tbl_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_viewActionsum]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_viewActionsum](
	[ActionsId] [int] NOT NULL,
	[actions] [varchar](100) NULL,
	[total] [int] NULL,
	[gttotal] [int] NULL,
 CONSTRAINT [PK_tbl_viewActionsum] PRIMARY KEY CLUSTERED 
(
	[ActionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_viewStageSummary]    Script Date: 23-02-2024 15:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_viewStageSummary](
	[ID] [int] NOT NULL,
	[Stagescleared] [varchar](100) NULL,
	[Projcount] [int] NULL,
 CONSTRAINT [PK_tbl_viewStageSummary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'1789a675-9951-42a7-b064-8d7da156521f', N'Unit', N'UNIT', N'66cbd4e7-9618-4a3e-87bd-36cda91a6e08')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'564cfbc3-3245-417b-b04a-06bda827e0d0', N'Guest', N'Guest', N'e550def2-b980-44c0-a3da-1add4fe45cb0')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'57dbe0a6-4e20-410b-9b9e-28ae192efa38', N'Comd', N'COMD', N'b3a58e24-3c54-4e7a-acd7-49926e864bad')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0277d6d9-9d7e-4c99-80ad-620234d8653a', N'1789a675-9951-42a7-b064-8d7da156521f')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'065102c6-6cf1-4ec6-83aa-d60fb893ce85', N'1789a675-9951-42a7-b064-8d7da156521f')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0dff8545-efc8-492e-b10e-6aacadbbfd5c', N'1789a675-9951-42a7-b064-8d7da156521f')
GO
SET IDENTITY_INSERT [dbo].[AttHistory] ON 

INSERT [dbo].[AttHistory] ([AttId], [PsmId], [AttPath], [ActionId], [TimeStamp], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [Reamarks], [ActFileName]) VALUES (1, 1, N'Swas_ee8cd75a-aad6-4a9b-b63f-ef62ea4e9000.pdf', 0, CAST(N'2024-02-22T12:22:29.0798893' AS DateTime2), 0, 1, N'unit3(Unit 3)', CAST(N'2024-02-22T12:22:29.0798884' AS DateTime2), N'unit3(Unit 3)', CAST(N'2024-02-22T12:22:29.0798831' AS DateTime2), N'rt5yrty', N'Swas_eeaafe6e-b5dd-48be-9854-17649ca0572b.pdf')
INSERT [dbo].[AttHistory] ([AttId], [PsmId], [AttPath], [ActionId], [TimeStamp], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [Reamarks], [ActFileName]) VALUES (2, 2, N'Swas_1a047f7d-05a7-4172-8ce1-2080d9be67f3.pdf', 0, CAST(N'2024-02-22T12:23:15.7312849' AS DateTime2), 0, 1, N'unit3(Unit 3)', CAST(N'2024-02-22T12:23:15.7312847' AS DateTime2), N'unit3(Unit 3)', CAST(N'2024-02-22T12:23:15.7312831' AS DateTime2), N'rty', N'Swas_6232d217-fb90-4e8d-bb36-a965cf994c21.pdf')
INSERT [dbo].[AttHistory] ([AttId], [PsmId], [AttPath], [ActionId], [TimeStamp], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [Reamarks], [ActFileName]) VALUES (3, 7, N'Swas_40298edb-a0eb-449a-a665-f10c44b81c69.pdf', 0, CAST(N'2024-02-22T12:26:41.0908256' AS DateTime2), 0, 1, N'AHCC(AHCC)', CAST(N'2024-02-22T12:26:41.0908258' AS DateTime2), N'AHCC(AHCC)', CAST(N'2024-02-22T12:26:41.0908249' AS DateTime2), N'File Attached', N'Swas_db50b993-c12f-4b22-b824-8595c9d27a0e.pdf')
SET IDENTITY_INSERT [dbo].[AttHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentId], [PsmId], [Comment], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (1, 1, N'utyu76', 0, 1, N'unit3(Unit 3)', CAST(N'2024-02-22T12:22:23.2919412' AS DateTime2), N'unit3(Unit 3)', CAST(N'2024-02-22T12:22:23.2919426' AS DateTime2))
INSERT [dbo].[Comment] ([CommentId], [PsmId], [Comment], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (2, 2, N'rtyrt', 0, 1, N'unit3(Unit 3)', CAST(N'2024-02-22T12:23:06.6261727' AS DateTime2), N'unit3(Unit 3)', CAST(N'2024-02-22T12:23:06.6261739' AS DateTime2))
INSERT [dbo].[Comment] ([CommentId], [PsmId], [Comment], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (3, 3, N'Fwd to Other Stakeholders for Comments ', 0, 1, N'ddgit(DDGIT)', CAST(N'2024-02-22T12:23:42.2448602' AS DateTime2), N'ddgit(DDGIT)', CAST(N'2024-02-22T12:23:42.2448606' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[mActions] ON 

INSERT [dbo].[mActions] ([ActionsId], [Actions], [ActionDesc], [Actionseq], [StatCompId], [StatusId], [StagesId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TimeLimit], [ObsnFlag]) VALUES (1, N'New Project', N'Create New Project', 1, NULL, 1, 1, 0, 1, N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), 1, NULL, 30, NULL)
INSERT [dbo].[mActions] ([ActionsId], [Actions], [ActionDesc], [Actionseq], [StatCompId], [StatusId], [StagesId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TimeLimit], [ObsnFlag]) VALUES (2, N'Returned', N'New Project Returned Being Obsn', 2, 1, 2, 1, 0, 1, N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), NULL, NULL, 0, NULL)
INSERT [dbo].[mActions] ([ActionsId], [Actions], [ActionDesc], [Actionseq], [StatCompId], [StatusId], [StagesId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TimeLimit], [ObsnFlag]) VALUES (3, N'Fwd', N'Inital Stage Resubmitted (Obsn Rectified)', 3, 0, 3, 1, 0, 1, N'asdc', CAST(N'2023-10-31T13:45:55.5014031' AS DateTime2), N'6', CAST(N'2023-10-31T13:45:55.5013850' AS DateTime2), NULL, NULL, 12, 0)
SET IDENTITY_INSERT [dbo].[mActions] OFF
GO
SET IDENTITY_INSERT [dbo].[mAppType] ON 

INSERT [dbo].[mAppType] ([Apptype], [AppDesc]) VALUES (1, N'Web Appln')
INSERT [dbo].[mAppType] ([Apptype], [AppDesc]) VALUES (2, N'Native Appln')
INSERT [dbo].[mAppType] ([Apptype], [AppDesc]) VALUES (3, N'Website')
SET IDENTITY_INSERT [dbo].[mAppType] OFF
GO
SET IDENTITY_INSERT [dbo].[mCommand] ON 

INSERT [dbo].[mCommand] ([comdid], [Command_Name], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (1, N'SOUTHCOMD', 0, 1, N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[mCommand] ([comdid], [Command_Name], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (2, N'EASTCOMD', 0, 1, N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[mCommand] ([comdid], [Command_Name], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (3, N'NORTHCOMD', 0, 1, N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[mCommand] OFF
GO
SET IDENTITY_INSERT [dbo].[mCorps] ON 

INSERT [dbo].[mCorps] ([corpsid], [corpsname], [comdid], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (1, N'1 CORPS', 3, 0, 1, N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[mCorps] ([corpsid], [corpsname], [comdid], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (2, N'2 Corps', 6, 0, 1, N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[mCorps] ([corpsid], [corpsname], [comdid], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (3, N'4 Corps', 2, 0, 1, N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[mCorps] OFF
GO
SET IDENTITY_INSERT [dbo].[mHostType] ON 

INSERT [dbo].[mHostType] ([HostTypeID], [HostingDesc]) VALUES (1, N'ADN')
INSERT [dbo].[mHostType] ([HostTypeID], [HostingDesc]) VALUES (2, N'LAN')
INSERT [dbo].[mHostType] ([HostTypeID], [HostingDesc]) VALUES (3, N'Internet')
SET IDENTITY_INSERT [dbo].[mHostType] OFF
GO
SET IDENTITY_INSERT [dbo].[mStages] ON 

INSERT [dbo].[mStages] ([StagesId], [Stages], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID]) VALUES (1, N'Initial Stage', 0, 1, N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), 1, NULL)
INSERT [dbo].[mStages] ([StagesId], [Stages], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID]) VALUES (2, N'Pre Devp Stage', 0, 1, N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[mStages] ([StagesId], [Stages], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID]) VALUES (3, N'Post Devp Stage', 0, 1, N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[mStages] OFF
GO
SET IDENTITY_INSERT [dbo].[mStakeHolder] ON 

INSERT [dbo].[mStakeHolder] ([StakeHolderId], [StakeHolder], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (1, N'DG SIGS', 0, 1, N'1', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'7', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[mStakeHolder] ([StakeHolderId], [StakeHolder], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (2, N'DG IS', 0, 1, N'2', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'6', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[mStakeHolder] ([StakeHolderId], [StakeHolder], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate]) VALUES (3, N'DG MI', 0, 1, N'3', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'5', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[mStakeHolder] OFF
GO
SET IDENTITY_INSERT [dbo].[mStatus] ON 

INSERT [dbo].[mStatus] ([StatusId], [StageId], [Status], [ViewDescUnit], [ViewDescStkHold], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TotalProj], [Statseq]) VALUES (1, 1, N'New Project', N'Submitted (Initiated)', N'New Projects', 0, 1, N'2', NULL, N'3', NULL, 1, NULL, NULL, 1)
INSERT [dbo].[mStatus] ([StatusId], [StageId], [Status], [ViewDescUnit], [ViewDescStkHold], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TotalProj], [Statseq]) VALUES (2, 1, N'Returned (with Obsn)', N'Returned (with Obsn)', N'Returned (with Obsn)', 0, 1, N'2', NULL, N'3', NULL, NULL, NULL, NULL, 3)
INSERT [dbo].[mStatus] ([StatusId], [StageId], [Status], [ViewDescUnit], [ViewDescStkHold], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TotalProj], [Statseq]) VALUES (3, 1, N'Resubmitted (Obsn Rectified)', N'Resubmitted (Obsn Rectified)', N'Resubmitted (Obsn Rectified)', 0, 1, N'2', NULL, N'3', NULL, NULL, NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[mStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[mStatus_temp] ON 

INSERT [dbo].[mStatus_temp] ([StatusId], [StageId], [Status], [ViewDescUnit], [ViewDescStkHold], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TotalProj], [Statseq]) VALUES (1, 1, N'New Project', N'Submitted (Initiated)', N'New Projects', 0, 1, N'2', NULL, N'3', NULL, 1, NULL, NULL, 1)
INSERT [dbo].[mStatus_temp] ([StatusId], [StageId], [Status], [ViewDescUnit], [ViewDescStkHold], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TotalProj], [Statseq]) VALUES (2, 1, N'Returned (with Obsn)', N'Returned (with Obsn)', N'Returned (with Obsn)', 0, 1, N'2', NULL, N'3', NULL, NULL, NULL, NULL, 3)
INSERT [dbo].[mStatus_temp] ([StatusId], [StageId], [Status], [ViewDescUnit], [ViewDescStkHold], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [InitiaalID], [FininshID], [TotalProj], [Statseq]) VALUES (3, 1, N'Resubmitted (Obsn Rectified)', N'Resubmitted (Obsn Rectified)', N'Resubmitted (Obsn Rectified)', 0, 1, N'2', NULL, N'3', NULL, NULL, NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[mStatus_temp] OFF
GO
SET IDENTITY_INSERT [dbo].[Proj_initialstatus] ON 

INSERT [dbo].[Proj_initialstatus] ([initialstatusid], [StakeHolderId], [projid], [psmid], [reamarks], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [initialstatus]) VALUES (1, 1, 330, 439, N'test', N'10/10/2023', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'DDGIT', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), 2)
INSERT [dbo].[Proj_initialstatus] ([initialstatusid], [StakeHolderId], [projid], [psmid], [reamarks], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [initialstatus]) VALUES (2, 4, 330, 439, N'test', N'10/10/2023', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), N'DDGIT', CAST(N'2023-10-10T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Proj_initialstatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjStakeHolderMov] ON 

GO
SET IDENTITY_INSERT [dbo].[ProjStakeHolderMov] OFF
GO
SET IDENTITY_INSERT [dbo].[StkComment] ON 

INSERT [dbo].[StkComment] ([StkCommentId], [psmid], [projid], [StakeHolderId], [ActionsId], [Comments], [StkStatusId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [Attpath], [AttDesc], [ActFileName]) VALUES (1, 6, 3, 5, NULL, N'test', 1, NULL, NULL, NULL, NULL, NULL, CAST(N'2024-02-22T12:26:41.0584141' AS DateTime2), N'Swas_40298edb-a0eb-449a-a665-f10c44b81c69.pdf', NULL, N'Swas_db50b993-c12f-4b22-b824-8595c9d27a0e.pdf')
INSERT [dbo].[StkComment] ([StkCommentId], [psmid], [projid], [StakeHolderId], [ActionsId], [Comments], [StkStatusId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [Attpath], [AttDesc], [ActFileName]) VALUES (2, 6, 3, 4, NULL, N'ryty', 1, NULL, NULL, NULL, NULL, NULL, CAST(N'2024-02-22T12:27:02.7688749' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[StkComment] ([StkCommentId], [psmid], [projid], [StakeHolderId], [ActionsId], [Comments], [StkStatusId], [IsDeleted], [IsActive], [EditDeleteBy], [EditDeleteDate], [UpdatedByUserId], [DateTimeOfUpdate], [Attpath], [AttDesc], [ActFileName]) VALUES (3, 6, 3, 3, NULL, N'rtyr', 1, NULL, NULL, NULL, NULL, NULL, CAST(N'2024-02-22T12:27:33.2374965' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[StkComment] OFF
GO
SET IDENTITY_INSERT [dbo].[StkStatus] ON 

INSERT [dbo].[StkStatus] ([StkStatusId], [Status]) VALUES (1, N'Accepted')
INSERT [dbo].[StkStatus] ([StkStatusId], [Status]) VALUES (2, N'Obsn & Rectification')
INSERT [dbo].[StkStatus] ([StkStatusId], [Status]) VALUES (3, N'Rejected')
SET IDENTITY_INSERT [dbo].[StkStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_mUnitBranch] ON 

INSERT [dbo].[tbl_mUnitBranch] ([unitid], [unitname], [comdid], [unitSusNo], [area_loc], [TypeId], [CorpsId], [status], [updatedby], [updateddt], [commentreqdid]) VALUES (1, N'DDGIT', 0, N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'xx', 1, 0, 1, N'24', CAST(N'2023-01-02T09:50:50.0000000' AS DateTime2), 1)
INSERT [dbo].[tbl_mUnitBranch] ([unitid], [unitname], [comdid], [unitSusNo], [area_loc], [TypeId], [CorpsId], [status], [updatedby], [updateddt], [commentreqdid]) VALUES (2, N'DGIS', 1, N'10b4ab912e15ee835c4ebc47db608bc1ec7e6a6d9e4c83b7701c325478a3790b', N'xx', 1, 1, 1, N'sdfdsf', CAST(N'2023-01-11T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[tbl_mUnitBranch] ([unitid], [unitname], [comdid], [unitSusNo], [area_loc], [TypeId], [CorpsId], [status], [updatedby], [updateddt], [commentreqdid]) VALUES (3, N'ACG', 1, N'91e58dcb509f745680c619477d811449ba9fe9a55ee7a65cacbc685288fbd555', N'xx', 1, 2, 1, N'sdfdf', CAST(N'2023-08-17T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[tbl_mUnitBranch] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Type] ON 

INSERT [dbo].[tbl_Type] ([Id], [Name], [IsActive]) VALUES (1, N'Dte', 1)
INSERT [dbo].[tbl_Type] ([Id], [Name], [IsActive]) VALUES (2, N'Comd', 1)
INSERT [dbo].[tbl_Type] ([Id], [Name], [IsActive]) VALUES (3, N'Corps', 1)
SET IDENTITY_INSERT [dbo].[tbl_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_users] ON 

INSERT [dbo].[tbl_users] ([Id], [UserName], [UnitId], [Appointment], [IsActive], [IcJcArmyNo], [IsDeleted]) VALUES (7, N'gso1semg_asdc_ihqa', 3076, N'GSO1 SEMG ASDC', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_users] OFF
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_mAppType] FOREIGN KEY([Apptype])
REFERENCES [dbo].[mAppType] ([Apptype])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_mAppType]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_mHostType] FOREIGN KEY([HostTypeID])
REFERENCES [dbo].[mHostType] ([HostTypeID])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_mHostType]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_tbl_mUnitBranch] FOREIGN KEY([StakeHolderId])
REFERENCES [dbo].[tbl_mUnitBranch] ([unitid])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_tbl_mUnitBranch]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [EnvisagedCost] CHECK  (([EnvisagedCost]>=(0)))
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [EnvisagedCost]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [Projects_EnvisagedCost_notzero] CHECK  (([EnvisagedCost]>=(0)))
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [Projects_EnvisagedCost_notzero]
GO
/****** Object:  StoredProcedure [dbo].[getAppTypeCounts]    Script Date: 23-02-2024 15:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec getAppTypeCounts
--exec getAppTypeCounts
CREATE PROCEDURE [dbo].[getAppTypeCounts]
AS
BEGIN
    -- Create a temporary table to store the results
    CREATE TABLE #AppTypeCounts (
        serNo INT,
        MonthStart NVARCHAR(50),
        MonthName NVARCHAR(50),
        AppType NVARCHAR(50),
        AppDesc NVARCHAR(50),
        AppTypeCount INT
    );

    -- Create a calendar table with the last 6 months
    DECLARE @Calendar TABLE (
        MonthStart DATETIME
    );

    DECLARE @EndDate DATETIME = GETDATE();

    ;WITH MonthRange AS (
        SELECT 
            0 AS MonthOffset,
            DATEADD(MONTH, 0, @EndDate) AS MonthStart
        UNION ALL
        SELECT 
            MonthOffset + 1,
            DATEADD(MONTH, -MonthOffset - 1, @EndDate)
        FROM MonthRange
        WHERE MonthOffset < 5
    )
    INSERT INTO @Calendar (MonthStart)
    SELECT MonthStart
    FROM MonthRange;

    -- Insert data into #AppTypeCounts using a LEFT JOIN
    INSERT INTO #AppTypeCounts (serNo, MonthStart, MonthName, AppType, AppDesc, AppTypeCount)
    SELECT
        ROW_NUMBER() OVER (ORDER BY c.MonthStart) AS serNo,
        c.MonthStart,
        DATENAME(MONTH, c.MonthStart) + ' ' + RIGHT(YEAR(c.MonthStart), 2) AS MonthName,
        b.Apptype AS AppType,
        MAX(b.AppDesc) AS AppDesc,
        COUNT(a.Apptype) AS AppTypeCount
    FROM @Calendar c
    LEFT JOIN [Projects] a ON MONTH(c.MonthStart) = MONTH(a.EditDeleteDate) AND YEAR(c.MonthStart) = YEAR(a.EditDeleteDate)
    LEFT JOIN [mAppType] b ON a.Apptype = b.[Apptype]
    LEFT JOIN [ProjStakeHolderMov] d ON d.[PsmId] = a.[CurrentPslmId] AND c.MonthStart >= d.[TimeStamp] AND c.MonthStart < DATEADD(MONTH, 1, d.[TimeStamp])
    WHERE
        (d.ActionCde IS NULL OR d.ActionCde <> 0)
    GROUP BY c.MonthStart, b.Apptype;

    -- Return the results
    SELECT * FROM #AppTypeCounts ORDER BY serNo asc;

    -- Clean up the temporary table
    DROP TABLE #AppTypeCounts;
END;

GO
/****** Object:  StoredProcedure [dbo].[GetMonthInOutSanJson_FIN]    Script Date: 23-02-2024 15:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC GetMonthInOutSanJson_FIN
CREATE PROCEDURE [dbo].[GetMonthInOutSanJson_FIN]
AS
BEGIN
    DECLARE @DynamicSQL NVARCHAR(MAX);

    -- Create a table to store the pivot result
    CREATE TABLE #Result (
        unitid INT,
        [MonthName] NVARCHAR(50),
        TotalIn INT,
        UnitCategory NVARCHAR(50),
        MonthStartDate DATETIME,
        MonthEndDate DATETIME
        -- Assuming there's a category column, adjust as per your actual data
    );

    -- Insert data into the temporary table from getMonthInOutSummarySINGLE stored procedure
    INSERT INTO #Result (unitid, [MonthName], TotalIn, UnitCategory, MonthStartDate, MonthEndDate)
    EXEC getMonthInOutSummarySINGLE;

    -- Build the dynamic SQL query for PIVOT with ordered months
    SET @DynamicSQL = N'
    SELECT unitid, UnitCategory, ' + STUFF((
        SELECT ', ' + QUOTENAME([MonthName])
        FROM (SELECT DISTINCT [MonthName], MonthStartDate FROM #Result) AS OrderedMonths
        ORDER BY MonthStartDate -- Order by MonthStartDate here
        FOR XML PATH(''), TYPE
    ).value('.', 'VARCHAR(MAX)'), 1, 2, '') + '
    FROM (
        SELECT unitid, UnitCategory, MonthName, TotalIn
        FROM #Result
    ) AS PivotData
    PIVOT (
        SUM(TotalIn) FOR MonthName IN (' + STUFF((
            SELECT ', ' + QUOTENAME([MonthName])
            FROM (SELECT DISTINCT [MonthName], MonthStartDate FROM #Result) AS OrderedMonths
            ORDER BY MonthStartDate -- Order by MonthStartDate here as well
            FOR XML PATH(''), TYPE
        ).value('.', 'VARCHAR(MAX)'), 1, 2, '') + ')
    ) AS PivotTable
    FOR JSON AUTO'; -- Generate JSON directly from the pivot table

    -- Execute the dynamic SQL


    EXEC sp_executesql @DynamicSQL;
	
	
	
    -- Drop the temporary table
    DROP TABLE #Result;
END;

GO
/****** Object:  StoredProcedure [dbo].[getMonthInOutSummary]    Script Date: 23-02-2024 15:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec getMonthInOutSummary

CREATE PROCEDURE [dbo].[getMonthInOutSummary]
AS
BEGIN
    DECLARE @MonthData TABLE (
        MonthOffset INT,
		MonthNames NVARCHAR(50),
		MonthNameYr NVARCHAR(50),
        MonthStartDate DATETIME,
        MonthEndDate DATETIME
    );

    DECLARE @StkData TABLE (
        unitid INT,
		
        MonthNames NVARCHAR(50),
		MonthNameYr NVARCHAR(50),
        MonthStartDate DATETIME,
        MonthEndDate DATETIME,
        TotalIn INT,
        TotalOut INT
    );

    -- Generate month data
    WITH MonthRange AS (
        SELECT 0 AS MonthOffset
        UNION ALL
        SELECT MonthOffset + 1
        FROM MonthRange
        WHERE MonthOffset < 6
    )
    INSERT INTO @MonthData (MonthOffset, MonthNames, MonthNameYr, MonthStartDate, MonthEndDate)
    SELECT
        MonthOffset,
        DATENAME(MONTH, DATEADD(MONTH, -MonthOffset, GETDATE())) + ' ' + RIGHT(YEAR(DATEADD(MONTH, -MonthOffset, GETDATE())), 0) AS MonthName,
		 DATENAME(MONTH, DATEADD(MONTH, -MonthOffset, GETDATE())) + ' ' + RIGHT(YEAR(DATEADD(MONTH, -MonthOffset, GETDATE())), 2) AS MonthNameYr,
        DATEADD(MONTH, -MonthOffset, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0)) AS MonthStartDate,
        DATEADD(DAY, -1, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) - MonthOffset + 1, 0)) AS MonthEndDate
    FROM MonthRange;

    -- Get distinct stkid values
    DECLARE @StkIds TABLE (unitid INT);
    INSERT INTO @StkIds (unitid)
    SELECT DISTINCT unitid FROM tbl_mUnitBranch WHERE unitid<6; -- Replace YourStkTable with the actual table name

    -- Loop through each stkid and calculate totals for the last 12 months
    DECLARE @CurrentStkId INT;
	
    DECLARE @TotalIn INT;
    DECLARE @TotalOut INT;

    DECLARE stk_cursor CURSOR FOR
    SELECT unitid FROM @StkIds;

    OPEN stk_cursor;
    FETCH NEXT FROM stk_cursor INTO @CurrentStkId

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Calculate TotalIn and TotalOut for the current stkid and each month
        INSERT INTO @StkData (unitid, MonthNames, MonthNameYr, MonthStartDate, MonthEndDate, TotalIn, TotalOut)
        SELECT
            @CurrentStkId,
			
			md.MonthNames,
			md.MonthNameYr,
            md.MonthStartDate,
            md.MonthEndDate,
            (SELECT COUNT(a.PsmId) 
             FROM ProjStakeHolderMov a
             WHERE (a.[TimeStamp] BETWEEN md.MonthStartDate AND md.MonthEndDate) 
                   AND (a.CurrentStakeHolderId = @CurrentStkId)) AS TotalIn,
            (SELECT COUNT(a.PsmId) 
             FROM ProjStakeHolderMov a
             WHERE (a.[TimeStamp] BETWEEN md.MonthStartDate AND md.MonthEndDate)
                   AND (a.FromStakeHolderId = @CurrentStkId)) AS TotalOut
        FROM @MonthData md;

        FETCH NEXT FROM stk_cursor INTO @CurrentStkId;
    END;

    CLOSE stk_cursor;
    DEALLOCATE stk_cursor;

    -- Return the result
    SELECT  CAST(ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS INT) AS serno, a.unitid,A.[MonthNames],a.MonthNameYr,a.TotalIn,a.TotalOut,b.unitname FROM @StkData a LEFT JOIN tbl_mUnitBranch b ON a.unitid=b.unitid

	order by a.MonthStartDate
	
END;

--SELECT c.ProjId,b.psmid, c.ProjName,d.unitname as helwith,e.unitname as fwdby, a.Actions,f.Comment,  b.EditDeleteDate, a.TimeLimit, 
--DATEDIFF(DAY, b.EditDeleteDate, GETDATE() ) AS dayss,DATEDIFF(DAY, b.EditDeleteDate, GETDATE() ) - TimeLimit as exceeds 

--FROM mActions a
--LEFT JOIN ProjStakeHolderMov b ON a.ActionsId = b.ActionId
--LEFT JOIN Projects c ON c.CurrentPslmId = b.PsmId
--left join tbl_mUnitBranch d on d.unitid = b.CurrentStakeHolderId
--left join tbl_mUnitBranch e on e.unitid = b.FromStakeHolderId
--left join Comment f on f.PsmId = b.PsmId

--WHERE c.ProjId IS NOT NULL and a.TimeLimit>0 and a.TimeLimit <  DATEDIFF(DAY, b.EditDeleteDate, GETDATE() ) and d.unitid<6
GO
/****** Object:  StoredProcedure [dbo].[getMonthInOutSummarySINGLE]    Script Date: 23-02-2024 15:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec getMonthInOutSummarySINGLE

CREATE PROCEDURE [dbo].[getMonthInOutSummarySINGLE]
AS
BEGIN
    DECLARE @MonthData TABLE (
        MonthOffset INT,
        [MonthName] NVARCHAR(50),
        MonthStartDate DATETIME,
        MonthEndDate DATETIME
    );

    DECLARE @StkData TABLE (
        unitid INT,
        MonthName NVARCHAR(50),
        TotalIn INT,
		unitnames NVARCHAR(50),
		MonthStartDate DATETIME,
        MonthEndDate DATETIME
    );

    -- Generate month data
    WITH MonthRange AS (
        SELECT 0 AS MonthOffset
        UNION ALL
        SELECT MonthOffset + 1
        FROM MonthRange
        WHERE MonthOffset < 5
    )
    INSERT INTO @MonthData (MonthOffset, [MonthName], MonthStartDate, MonthEndDate)
    SELECT
        MonthOffset,
       
	   DATENAME(MONTH, DATEADD(MONTH, -MonthOffset, GETDATE())) + ' ' + RIGHT(YEAR(DATEADD(MONTH, -MonthOffset, GETDATE())), 2) AS [MonthName],
        DATEADD(MONTH, -MonthOffset, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0)) AS MonthStartDate,
        DATEADD(DAY, -1, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) - MonthOffset + 1, 0)) AS MonthEndDate
    FROM MonthRange;
	-- DATENAME(MONTH, DATEADD(MONTH, -MonthOffset, GETDATE())) AS MonthName,
    -- Get distinct stkid values
    DECLARE @StkIds TABLE (unitid INT);
    INSERT INTO @StkIds (unitid)
    SELECT DISTINCT unitid FROM tbl_mUnitBranch WHERE unitid < 6; -- Replace YourStkTable with the actual table name

    -- Loop through each stkid and calculate TotalIn for the last 12 months
    DECLARE @CurrentStkId INT;

    DECLARE stk_cursor CURSOR FOR
    SELECT unitid FROM @StkIds;

    OPEN stk_cursor;
    FETCH NEXT FROM stk_cursor INTO @CurrentStkId;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Calculate TotalIn for the current stkid and each month
        INSERT INTO @StkData (unitid, [MonthName], TotalIn,unitnames,MonthStartDate,MonthEndDate )
        SELECT
            @CurrentStkId,
            md.[MonthName],
            SUM(CASE
                WHEN a.[TimeStamp] BETWEEN md.MonthStartDate AND md.MonthEndDate
                THEN 1
                ELSE 0
            END) AS TotalIn,'In',MonthStartDate,MonthEndDate 
        FROM @MonthData md
        LEFT JOIN ProjStakeHolderMov a ON a.CurrentStakeHolderId = @CurrentStkId
        GROUP BY md.[MonthName], md.MonthStartDate, md.MonthEndDate;

        FETCH NEXT FROM stk_cursor INTO @CurrentStkId;
    END;

    CLOSE stk_cursor;
    DEALLOCATE stk_cursor;








	 DECLARE @MonthDatas TABLE (
        MonthOffset INT,
       [MonthName] NVARCHAR(50),
        MonthStartDate DATETIME,
        MonthEndDate DATETIME
    );

    DECLARE @StkDatas TABLE (
        unitid INT,
        [MonthName] NVARCHAR(50),
        TotalIn INT,
		unitnames NVARCHAR(50),
		 MonthStartDate DATETIME,
        MonthEndDate DATETIME
    );

    -- Generate month data
    WITH MonthRange AS (
        SELECT 1 AS MonthOffset
        UNION ALL
        SELECT MonthOffset + 1
        FROM MonthRange
        WHERE MonthOffset < 5
    )
    INSERT INTO @MonthDatas (MonthOffset, [MonthName], MonthStartDate, MonthEndDate)
    SELECT
        MonthOffset,
        --DATENAME(MONTH, DATEADD(MONTH, -MonthOffset, GETDATE())) AS MonthName,
		DATENAME(MONTH, DATEADD(MONTH, -MonthOffset, GETDATE())) + ' ' + RIGHT(YEAR(DATEADD(MONTH, -MonthOffset, GETDATE())), 2) AS [MonthName],
        DATEADD(MONTH, -MonthOffset, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0)) AS MonthStartDate,
        DATEADD(DAY, -1, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) - MonthOffset + 1, 0)) AS MonthEndDate
    FROM MonthRange;

    -- Get distinct stkid values
    DECLARE @StkIdss TABLE (unitid INT);
    INSERT INTO @StkIdss (unitid)
    SELECT DISTINCT unitid FROM tbl_mUnitBranch WHERE unitid < 6; -- Replace YourStkTable with the actual table name

    -- Loop through each stkid and calculate TotalIn for the last 12 months
    DECLARE @CurrentStkIds INT;

    DECLARE stk_cursor CURSOR FOR
    SELECT unitid FROM @StkIdss;

    OPEN stk_cursor;
    FETCH NEXT FROM stk_cursor INTO @CurrentStkIds;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Calculate TotalIn for the current stkid and each month
        INSERT INTO @StkDatas (unitid, [MonthName], TotalIn, unitnames,MonthStartDate,MonthEndDate)
        SELECT
            @CurrentStkIds,
            md.[MonthName],
            SUM(CASE
                WHEN a.[TimeStamp] BETWEEN md.MonthStartDate AND md.MonthEndDate
                THEN 1
                ELSE 0
            END) AS TotalOut, 'Out',MonthStartDate,MonthEndDate 
        FROM @MonthDatas md
        LEFT JOIN ProjStakeHolderMov a ON a.FromStakeHolderId = @CurrentStkIds
        GROUP BY md.[MonthName], md.MonthStartDate, md.MonthEndDate;

        FETCH NEXT FROM stk_cursor INTO @CurrentStkIds;
    END;

    CLOSE stk_cursor;
    DEALLOCATE stk_cursor;


	INSERT INTO @StkData (unitid, [MonthName], TotalIn, unitnames,MonthStartDate,MonthEndDate )
	
SELECT unitid, MonthName, TotalIn,'Out',MonthStartDate,MonthEndDate
FROM @StkDatas;

    -- Return the result
    SELECT a.unitid,a.[MonthName],a.TotalIn,b.unitname+'-'+a.unitnames as unitname,MonthStartDate,MonthEndDate  FROM @StkData a
    LEFT JOIN tbl_mUnitBranch b ON a.unitid = b.unitid order by MonthStartDate ASC;

END;

GO
/****** Object:  StoredProcedure [dbo].[NewSpSanalOne]    Script Date: 23-02-2024 15:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec NewSpSanalOne

CREATE PROCEDURE [dbo].[NewSpSanalOne]
AS
BEGIN
    -- Declare table variables to store month and stakeholder data
    DECLARE @MonthData TABLE (
        MonthOffset INT,
        [MonthName] NVARCHAR(50),
		TotalIn INT,
        MonthStartDate DATETIME,
        MonthEndDate DATETIME
    );

    DECLARE @StkData TABLE (
        unitid INT,
        [MonthName] NVARCHAR(50),
        TotalIn INT,
        unitnames NVARCHAR(50),
        MonthStartDate DATETIME,
        MonthEndDate DATETIME
    );

    -- Generate month data for the last 12 months
    WITH MonthRange AS (
        SELECT 1 AS MonthOffset
        UNION ALL
        SELECT MonthOffset + 1
        FROM MonthRange
        WHERE MonthOffset < 12
    )
    INSERT INTO @MonthData (MonthOffset, [MonthName], MonthStartDate, MonthEndDate)
    SELECT
        MonthOffset,
        DATENAME(MONTH, DATEADD(MONTH, -MonthOffset, GETDATE())) + ' ' + RIGHT(YEAR(DATEADD(MONTH, -MonthOffset, GETDATE())), 2) AS [MonthName],
        DATEADD(MONTH, -MonthOffset, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0)) AS MonthStartDate,
        DATEADD(DAY, -1, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) - MonthOffset + 1, 0)) AS MonthEndDate
    FROM MonthRange;

    -- Loop through each unitid and calculate TotalIn for the last 12 months
    DECLARE @CurrentUnitId INT;

    DECLARE unit_cursor CURSOR FOR
    SELECT unitid FROM tbl_mUnitBranch WHERE unitid < 6;

    OPEN unit_cursor;
    FETCH NEXT FROM unit_cursor INTO @CurrentUnitId;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Calculate TotalIn for the current unitid and each month
        INSERT INTO @StkData (unitid, [MonthName], TotalIn, unitnames, MonthStartDate, MonthEndDate)
        SELECT
            @CurrentUnitId,
            md.[MonthName],
            ISNULL(SUM(CASE
                WHEN a.[TimeStamp] BETWEEN md.MonthStartDate AND md.MonthEndDate
                THEN 1
                ELSE 0
            END), 0) AS TotalIn,
            'In' AS unitnames,
            md.MonthStartDate,
            md.MonthEndDate
        FROM @MonthData md
        LEFT JOIN ProjStakeHolderMov a ON a.CurrentStakeHolderId = @CurrentUnitId
        GROUP BY md.[MonthName], md.MonthStartDate, md.MonthEndDate;

        FETCH NEXT FROM unit_cursor INTO @CurrentUnitId;
    END;

    CLOSE unit_cursor;
    DEALLOCATE unit_cursor;

    -- Loop through each unitid again and calculate TotalOut for the last 12 months
    DECLARE @CurrentUnitIdOut INT;

    DECLARE unit_cursor_out CURSOR FOR
    SELECT unitid FROM tbl_mUnitBranch WHERE unitid < 6;

    OPEN unit_cursor_out;
    FETCH NEXT FROM unit_cursor_out INTO @CurrentUnitIdOut;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Calculate TotalOut for the current unitid and each month
        INSERT INTO @StkData (unitid, [MonthName], TotalIn, unitnames, MonthStartDate, MonthEndDate)
        SELECT
            @CurrentUnitIdOut,
            md.[MonthName],
            ISNULL(SUM(CASE
                WHEN a.[TimeStamp] BETWEEN md.MonthStartDate AND md.MonthEndDate
                THEN 1
                ELSE 0
            END), 0) AS TotalIn,
            'Out' AS unitnames,
            md.MonthStartDate,
            md.MonthEndDate
        FROM @MonthData md
        LEFT JOIN ProjStakeHolderMov a ON a.FromStakeHolderId = @CurrentUnitIdOut
        GROUP BY md.[MonthName], md.MonthStartDate, md.MonthEndDate;

        FETCH NEXT FROM unit_cursor_out INTO @CurrentUnitIdOut;
    END;

    CLOSE unit_cursor_out;
    DEALLOCATE unit_cursor_out;

    -- Return the result
    SELECT a.unitid, a.[MonthName], a.TotalIn, a.unitnames, b.unitname + '-' + a.unitnames AS unitname, a.MonthStartDate, a.MonthEndDate
    FROM @StkData a
    LEFT JOIN tbl_mUnitBranch b ON a.unitid = b.unitid
    ORDER BY a.MonthStartDate ASC;
END;

GO
USE [master]
GO
