USE [master]
GO
/****** Object:  Database [PAWDBVER1.2_10Dec24]    Script Date: 24-12-2024 17:12:40 ******/
CREATE DATABASE [PAWDBVER1.2_10Dec24]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PAWDBVER1.2_10Dect24', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PAWDBVER1.2_10Dect24.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PAWDBVER1.2_10Dect24_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PAWDBVER1.2_10Dect24_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PAWDBVER1.2_10Dec24].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PAWDBVER1.2_10Dec24]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
	[domain_iam] [nvarchar](max) NULL,
	[description_iam] [nvarchar](max) NULL,
	[RoleName_IAM] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[unitid] [int] NULL,
	[appointment] [nvarchar](max) NULL,
	[icno] [nvarchar](15) NULL,
	[rank] [nchar](15) NULL,
	[Offr_Name] [nchar](70) NULL,
	[Tele_Army] [nchar](70) NULL,
	[CreatedDate] [datetime] NULL,
	[Flag] [bit] NULL,
	[UserIntId] [int] NULL,
	[UserDetails] [nvarchar](100) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttHistComment]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttHistComment](
	[Attid] [int] IDENTITY(1,1) NOT NULL,
	[PsmId] [int] NOT NULL,
	[AttPath] [varchar](200) NOT NULL,
	[StkCommentId] [int] NOT NULL,
	[TimeStamp] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[Reamarks] [varchar](250) NULL,
	[ActFileName] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttHistory]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttHistory](
	[AttId] [int] IDENTITY(1,1) NOT NULL,
	[PsmId] [int] NOT NULL,
	[AttPath] [varchar](200) NOT NULL,
	[ActionId] [int] NOT NULL,
	[TimeStamp] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [int] NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[Reamarks] [varchar](250) NULL,
	[ActFileName] [varchar](200) NULL,
 CONSTRAINT [PK_AttHistory] PRIMARY KEY CLUSTERED 
(
	[AttId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[PsmId] [int] NOT NULL,
	[Comment] [varchar](1500) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [int] NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Errors]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[LogLevel] [nvarchar](50) NULL,
	[ThreadId] [int] NULL,
	[EventId] [int] NULL,
	[EventName] [nvarchar](100) NULL,
	[IpAddress] [nvarchar](45) NULL,
	[CreatedAt] [datetime] NULL,
	[ExceptionMessage] [nvarchar](max) NULL,
	[ExceptionStackTrace] [nvarchar](max) NULL,
	[ExceptionSource] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mActionmapping]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mActionmapping](
	[Mappingid] [int] IDENTITY(1,1) NOT NULL,
	[Unitid] [int] NOT NULL,
	[Statusid] [int] NULL,
	[Mandatoryactionid] [int] NOT NULL,
	[Nextstage] [int] NULL,
	[Nextstatus] [int] NULL,
	[Defaultfwdunitid] [int] NULL,
	[Hidestatus] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mActions]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mActions](
	[ActionsId] [int] IDENTITY(1,1) NOT NULL,
	[Actions] [varchar](200) NOT NULL,
	[ActionDesc] [varchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [int] NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[OrderBy] [int] NULL,
 CONSTRAINT [PK_mActions_T] PRIMARY KEY CLUSTERED 
(
	[ActionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mAppType]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mAppType](
	[Apptype] [int] IDENTITY(1,1) NOT NULL,
	[AppDesc] [varchar](50) NOT NULL,
 CONSTRAINT [PK_mAppType] PRIMARY KEY CLUSTERED 
(
	[Apptype] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mCalendar]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mCalendar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mCommand]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mCommand](
	[comdid] [int] IDENTITY(1,1) NOT NULL,
	[Command_Name] [varchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[IsActive] [bit] NULL,
	[EditDeleteBy] [varchar](100) NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
 CONSTRAINT [PK_mCommand] PRIMARY KEY CLUSTERED 
(
	[comdid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mCorps]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mCorps](
	[corpsid] [int] IDENTITY(1,1) NOT NULL,
	[corpsname] [varchar](50) NOT NULL,
	[comdid] [int] NULL,
	[IsDeleted] [bit] NULL,
	[IsActive] [bit] NULL,
	[EditDeleteBy] [varchar](100) NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
 CONSTRAINT [PK_mCorps] PRIMARY KEY CLUSTERED 
(
	[corpsid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mHostType]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mHostType](
	[HostTypeID] [int] IDENTITY(1,1) NOT NULL,
	[HostingDesc] [varchar](50) NULL,
 CONSTRAINT [PK_mHostType] PRIMARY KEY CLUSTERED 
(
	[HostTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mRank]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mRank](
	[Id] [int] NOT NULL,
	[RankName] [varchar](50) NULL,
 CONSTRAINT [PK_mRank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mStages]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mStages](
	[StagesId] [int] IDENTITY(1,1) NOT NULL,
	[Stages] [varchar](200) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [int] NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[InitiaalID] [bit] NULL,
	[FininshID] [bit] NULL,
 CONSTRAINT [PK_mStages] PRIMARY KEY CLUSTERED 
(
	[StagesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mStakeHolder]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mStakeHolder](
	[StakeHolderId] [int] IDENTITY(1,1) NOT NULL,
	[StakeHolder] [varchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
 CONSTRAINT [PK_mStakeHolder] PRIMARY KEY CLUSTERED 
(
	[StakeHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mStatus]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StageId] [int] NOT NULL,
	[Status] [varchar](200) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [int] NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[InitiaalID] [bit] NULL,
	[FininshID] [bit] NULL,
	[TotalProj] [int] NULL,
	[Statseq] [int] NULL,
	[IsDashboard] [bit] NOT NULL,
	[Icon] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mStatus_temp]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mStatus_temp](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StageId] [int] NOT NULL,
	[Status] [varchar](200) NOT NULL,
	[ViewDescUnit] [varchar](200) NULL,
	[ViewDescStkHold] [varchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[InitiaalID] [bit] NULL,
	[FininshID] [bit] NULL,
	[TotalProj] [int] NULL,
	[Statseq] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mUserMapChat]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mUserMapChat](
	[UserMapChatId] [int] IDENTITY(1,1) NOT NULL,
	[FromUserId] [nvarchar](max) NULL,
	[ToUserId] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mWhiteListedHeader]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mWhiteListedHeader](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Header] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[ProjId] [int] NOT NULL,
	[NotificationFrom] [int] NOT NULL,
	[NotificationTo] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ReadDateTime] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[NotificationType] [int] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proj_initialstatus]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proj_initialstatus](
	[initialstatusid] [int] IDENTITY(1,1) NOT NULL,
	[StakeHolderId] [int] NULL,
	[projid] [int] NULL,
	[psmid] [int] NULL,
	[reamarks] [nvarchar](max) NULL,
	[EditDeleteBy] [varchar](100) NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[initialstatus] [int] NULL,
 CONSTRAINT [PK_Proj_initialstatus] PRIMARY KEY CLUSTERED 
(
	[initialstatusid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjId] [int] IDENTITY(1,1) NOT NULL,
	[ProjName] [varchar](200) NOT NULL,
	[StakeHolderId] [int] NOT NULL,
	[CurrentPslmId] [int] NULL,
	[InitiatedDate] [datetime2](7) NULL,
	[CompletionDate] [datetime2](7) NULL,
	[IsWhitelisted] [varchar](200) NOT NULL,
	[InitialRemark] [varchar](200) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [int] NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[Sponsor] [varchar](500) NULL,
	[AimScope] [nvarchar](max) NULL,
	[HQandITinfraReqd] [varchar](200) NULL,
	[Hostedon] [varchar](10) NULL,
	[ContentofSWApp] [nvarchar](max) NULL,
	[ReqmtJustification] [nvarchar](max) NULL,
	[UsabilityofProposedAppln] [nvarchar](max) NULL,
	[DetlsofUserBase] [nvarchar](max) NULL,
	[EnvisagedCost] [nvarchar](50) NULL,
	[NWBandWidthReqmt] [varchar](50) NULL,
	[MajTimeLines] [nvarchar](max) NULL,
	[TechStackProposed] [nvarchar](max) NULL,
	[DataSecurity_backup] [nvarchar](max) NULL,
	[TypeofSW] [nvarchar](max) NULL,
	[BeingDevpInhouse] [varchar](200) NULL,
	[EndorsmentbyHeadof] [nvarchar](max) NULL,
	[ProjCode] [varchar](50) NULL,
	[Apptype] [int] NULL,
	[Deplytype] [varchar](100) NULL,
	[HostTypeID] [int] NULL,
	[IsSubmited] [bit] NULL,
	[IsProcess] [bit] NULL,
	[Detlsof_OS] [nvarchar](max) NULL,
	[ProposedDB_Engine] [nvarchar](max) NULL,
	[DetlsofSw_Architecture] [nvarchar](max) NULL,
	[DetlsofProposed_Architecture] [nvarchar](max) NULL,
	[DetlsPki_IAM] [nvarchar](max) NULL,
	[Technology_dependencies] [nvarchar](max) NULL,
	[Database_reqmts] [nvarchar](max) NULL,
	[Enhancement_upgradation] [nvarchar](max) NULL,
	[Details_licensing] [nvarchar](max) NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjStakeHolderMov]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjStakeHolderMov](
	[PsmId] [int] IDENTITY(1,1) NOT NULL,
	[ProjId] [int] NOT NULL,
	[StatusActionsMappingId] [int] NOT NULL,
	[TimeStamp] [datetime2](7) NULL,
	[ToUnitId] [int] NOT NULL,
	[FromUnitId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [int] NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [int] NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[TostackholderDt] [datetime2](7) NULL,
	[ActionDt] [datetime2](7) NULL,
	[Remarks] [nvarchar](4000) NULL,
	[IsComplete] [bit] NULL,
	[UndoRemarks] [nvarchar](500) NULL,
	[IsRead] [bit] NULL,
	[UserDetails] [varchar](500) NULL,
	[IsComment] [bit] NULL,
	[IsPullBack] [bit] NULL,
 CONSTRAINT [PK_ProjStakeHolderMov] PRIMARY KEY CLUSTERED 
(
	[PsmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjStakeHolderMov_temp]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjStakeHolderMov_temp](
	[PsmId] [int] IDENTITY(1,1) NOT NULL,
	[ProjId] [int] NOT NULL,
	[StakeHolderId] [int] NOT NULL,
	[StageId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[ActionId] [int] NOT NULL,
	[AddRemarks] [varchar](200) NOT NULL,
	[CurrentStakeHolderId] [int] NOT NULL,
	[TimeStamp] [datetime2](7) NULL,
	[ToStakeHolderId] [int] NOT NULL,
	[FromStakeHolderId] [int] NOT NULL,
	[CommentId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EditDeleteBy] [varchar](100) NOT NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NOT NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[TostackholderDt] [datetime2](7) NULL,
	[ActionCde] [int] NULL,
	[ActionDt] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resultss]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resultss](
	[Result] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoftwareTypes]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoftwareTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeOfSoftware] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SoftwareTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StkComment]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StkComment](
	[StkCommentId] [int] IDENTITY(1,1) NOT NULL,
	[psmid] [int] NULL,
	[projid] [int] NULL,
	[StakeHolderId] [int] NULL,
	[ActionsId] [int] NULL,
	[Comments] [nvarchar](max) NULL,
	[StkStatusId] [int] NULL,
	[IsDeleted] [bit] NULL,
	[IsActive] [bit] NULL,
	[EditDeleteBy] [varchar](100) NULL,
	[EditDeleteDate] [datetime2](7) NULL,
	[UpdatedByUserId] [varchar](100) NULL,
	[DateTimeOfUpdate] [datetime2](7) NULL,
	[Attpath] [varchar](100) NULL,
	[AttDesc] [varchar](100) NULL,
	[ActFileName] [varchar](100) NULL,
	[UserDetails] [varchar](100) NULL,
 CONSTRAINT [PK_Stk_Comments] PRIMARY KEY CLUSTERED 
(
	[StkCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StkStatus]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StkStatus](
	[StkStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK_Stk_Status] PRIMARY KEY CLUSTERED 
(
	[StkStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_LoginLog]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LoginLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[IP] [nvarchar](max) NULL,
	[unitid] [int] NULL,
	[logindate] [datetime] NULL,
	[userName] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[Updatedby] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_tbl_LoginLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_mUnitBranch]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_mUnitBranch](
	[unitid] [int] IDENTITY(1,1) NOT NULL,
	[unitname] [varchar](200) NOT NULL,
	[comdid] [int] NOT NULL,
	[unitSusNo] [varchar](200) NOT NULL,
	[TypeId] [int] NOT NULL,
	[CorpsId] [int] NULL,
	[status] [bit] NOT NULL,
	[updatedby] [varchar](200) NULL,
	[updateddt] [datetime2](7) NOT NULL,
	[commentreqdid] [bit] NULL,
 CONSTRAINT [PK_tbl_mUnitBranch] PRIMARY KEY CLUSTERED 
(
	[unitid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Type]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[IsActive] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_users]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](200) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Appointment] [varchar](200) NULL,
	[IsActive] [bit] NULL,
	[IcJcArmyNo] [varchar](50) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_tbl_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_viewActionsum]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_viewActionsum](
	[ActionsId] [int] NOT NULL,
	[actions] [varchar](100) NULL,
	[total] [int] NULL,
	[gttotal] [int] NULL,
 CONSTRAINT [PK_tbl_viewActionsum] PRIMARY KEY CLUSTERED 
(
	[ActionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_viewStageSummary]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_viewStageSummary](
	[ID] [int] NOT NULL,
	[Stagescleared] [varchar](100) NULL,
	[Projcount] [int] NULL,
 CONSTRAINT [PK_tbl_viewStageSummary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnChatMsg]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnChatMsg](
	[ChatId] [int] IDENTITY(1,1) NOT NULL,
	[UserMapChatId] [int] NULL,
	[Msg] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[IsRead] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnStatusActionsMapping]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnStatusActionsMapping](
	[StatusActionsMappingId] [int] IDENTITY(1,1) NOT NULL,
	[StatusId] [int] NOT NULL,
	[ActionsId] [int] NOT NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnStatusActionsMapping_T]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnStatusActionsMapping_T](
	[StatusActionsMappingId] [int] IDENTITY(1,1) NOT NULL,
	[StatusId] [int] NOT NULL,
	[ActionsId] [int] NOT NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrnUnitStatusMapping]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnUnitStatusMapping](
	[UnitStatusMappingId] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[StatusActionsMappingId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trnWhiteListed]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trnWhiteListed](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HeaderID] [int] NOT NULL,
	[Appt] [nvarchar](50) NULL,
	[Fmn] [nvarchar](50) NULL,
	[ContactNo] [nvarchar](50) NULL,
	[Clearence] [date] NULL,
	[CertNo] [nvarchar](50) NULL,
	[date] [date] NULL,
	[ValidUpto] [date] NULL,
	[Remarks] [nvarchar](500) NULL,
	[ProjName] [nvarchar](100) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Errors] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[mStatus] ADD  CONSTRAINT [DF_mStatus_IsDashboard]  DEFAULT ((0)) FOR [IsDashboard]
GO
ALTER TABLE [dbo].[ProjStakeHolderMov] ADD  CONSTRAINT [DF_ProjStakeHolderMov_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[ProjStakeHolderMov] ADD  CONSTRAINT [DF_ProjStakeHolderMov_IsComment]  DEFAULT ((0)) FOR [IsComment]
GO
ALTER TABLE [dbo].[tbl_mUnitBranch] ADD  CONSTRAINT [DF_tbl_mUnitBranch_updatedby]  DEFAULT ('0') FOR [updatedby]
GO
ALTER TABLE [dbo].[tbl_mUnitBranch] ADD  CONSTRAINT [DF_tbl_mUnitBranch_commentreqdid]  DEFAULT ((0)) FOR [commentreqdid]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
/****** Object:  StoredProcedure [dbo].[GetMaxPsmId]    Script Date: 24-12-2024 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetMaxPsmId]
    @ProjectId INT,
    @MaxPsmId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT @MaxPsmId = MAX(PsmId)
    FROM ProjStakeHolderMov
    WHERE ProjId = @ProjectId
      AND IsActive = 1
      AND IsComment = 0
      AND UndoRemarks IS NULL;
END;
GO
USE [master]
GO
