@{
    var success = TempData["SuccessMessage"] as string;
    var error = TempData["FailureMessage"] as string;
}

@if (!string.IsNullOrEmpty(success) || !string.IsNullOrEmpty(error))
{
        <div id="swal-messages"
             data-success="@success"
             data-error="@error"
             style="display:none">
        </div>
}
