@using swas.DAL.Models;
@using Microsoft.AspNetCore.Mvc.Rendering;
@model List<tbl_AttHistory>


<hr />
@{
    int sno = 1;
}


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Ser No</th>
            <th>Docu Desc</th>
            <th>File Name</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var history in Model)
            {
                <tr>
                    <td>
                        @sno

                    </td>
                    <td>
                        <a asp-controller="Projects"
                           asp-action="WatermarkWithPdf" asp-route-id="@history.AttPath" target="_blank">@history.Reamarks</a>
                        <br />

                    </td>
                    <td>
                        @history.ActFileName
                    </td>
                    <td>@history.TimeStamp</td>
                </tr>
                sno++;
            }
        }
    </tbody>
</table>






                    <script src="~/DeveloperJs/_attachmetsview.js"></script>