@using swas.DAL.Models;
@using Microsoft.AspNetCore.Mvc.Rendering;
@model List<tbl_AttHistory>


<link href="~/css/_attachmentsread.css" rel="stylesheet" />

<div class="card-body" >
    <div class="modal-header">
        <h4 class="text-center mb-4 underline-h5" id="myModalLabel">
            ATTACHMENTS
        </h4>
        <button type="button" id="btnclose" class="btn btn-outline-secondary custom-cancel-button"
                data-dismiss="modal" aria-hidden="true">
            ×
        </button>
    </div>
</div>

<hr />
@{
    int sno = 1;
}

<table class="table table-striped table-bordered" >
    <thead>
        <tr>
            <th>Ser No</th>
            <th>Docu Desc</th>
            <th>File Name</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var history in Model)
            {
                <tr>
                    <td>
                        @sno

                    </td>
                    <td>
                        <a asp-controller="Projects"
                           asp-action="WatermarkWithPdf" asp-route-id="@history.AttPath" target="_blank">@history.Reamarks</a>
                        <br />

                    </td>
                    <td>
                        @history.ActFileName
                    </td>
                    <td>@history.TimeStamp</td>
                </tr>
                sno++;
            }
        }
    </tbody>
</table>

<script src="~/DeveloperJs/_attachmetsread.js"></script>