@using Microsoft.AspNetCore.Identity
@using swas.BAL.DTO
@using swas.BAL.Helpers
@using Microsoft.AspNetCore.Authorization

@inject IHttpContextAccessor HttpContextAccessor

@{
    TempData["Tabshift"] = 0;
    Login Logins = SessionHelper.GetObjectFromJson<Login>(HttpContextAccessor.HttpContext.Session, "User");
}

@{
    bool isAdmin = User.Identity.IsAuthenticated && User.IsInRole("Dte");
}

<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>@ViewData["Title"] - PAW</title>




    <!-- CSS Files -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
   
    <link href="~/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/css/icons.css" rel="stylesheet">
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- DataTable CSS -->
    <link rel="stylesheet" href="~/assets/dataTable/css/bootstrap.css">
   
    <link rel="stylesheet" href="~/assets/dataTable/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/dataTable/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/dataTable/css/all.min.css">
    <link href="~/assets/dataTable/css/searchbuilder.datatables.min.css" rel="stylesheet" />
    <link href="~/assets/dataTable/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/assets/dataTable/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/dataTable/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/dataTable/css/datatables.datetime.min.css" rel="stylesheet" />

    <link href="~/css/sweetalert2.min.css" rel="stylesheet">

  

    <!-- JS (keep order as you have) -->
    <script language="JavaScript" type="text/javascript" src="~/assets/js/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/js/bootstrap.bundle.min.js"></script>

    <!--plugins-->
    <link href="~/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <script language="JavaScript" type="text/javascript" src="~/assets/plugins/chartjs/chart.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/plugins/metismenu/js/metisMenu.min.js"></script>

    <!-- Main JS-->
    <script language="JavaScript" type="text/javascript" src="~/assets/js/main.js"></script>

    <!-- DataTable JS -->
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/jquery.dataTables.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/dataTables.bootstrap4.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/dataTables.buttons.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/buttons.bootstrap4.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/jszip.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/pdfmake.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/vfs_fonts.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/buttons.html5.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/buttons.print.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/buttons.colVis.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/dataTables.responsive.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/dataTable/js/datatables.datetime.min.js"></script>
    <script src="~/assets/dataTable/js/datatables.searchbuilder.min.js"></script>
    <script src="~/assets/dataTable/js/fnmultifilter.js"></script>

    <script src="~/assets/datatable/js/select2.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/js/sweetalert2.all.min.js"></script>

    <script src="~/DeveloperJs/ddlSanal.js"></script>

    <link rel="stylesheet" href="~/css/layoutreg.css">


<body>

    <!--start top header-->
    <header class="top-header1 paw-header-text-blue">
        <div class="container-fluid">
            <nav class="navbar navbar-expand gap-3">
                <div class="mobile-menu-button">
                    <ion-icon name="menu-sharp"></ion-icon>
                </div>

                <div class="user-setting">
                    <img src="~/assets/images/logo2.png" class="dgislogo" alt="">
                </div>

                <p class="headertext1">Portal for Appl Whitelisting (PAW)</p>

                <div class="user-setting">
                    <img src="~/assets/images/logo2.png" class="dgislogo" alt="">
                </div>

                <div class="top-navbar-right">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item dropdown dropdown-user-setting">
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="wrapper">

        <div id="loading" class="loader">
            <div class="loader-container">
                <img src="/assets/images/loadsss.gif" class="paw-loader-img" alt="Loading">
                <div>
                    <h4 class="paw-loading-title">Loading...</h4>
                    <span>Please wait... This may take few seconds...</span>
                </div>
            </div>
        </div>

        <div class="page-content-wrapper">
            @if (Logins != null)
            {
                <div class="switcher-body paw-switcher-hidden">
                    <button class="btn btn-primary btn-switcher shadow-sm" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                        <ion-icon name="color-palette-sharp" class="me-0"></ion-icon>
                    </button>

                    <div class="offcanvas offcanvas-end shadow border-start-0 p-2" data-bs-scroll="true" data-bs-backdrop="false"
                         tabindex="-1" id="offcanvasScrolling">
                        <div class="offcanvas-header border-bottom">
                            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Theme Customizer</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
                        </div>

                        <div class="offcanvas-body">
                            <h6 class="mb-0">Theme Variation</h6>
                            <hr>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="LightTheme" value="option1">
                                <label class="form-check-label" for="LightTheme">Light</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="DarkTheme" value="option2">
                                <label class="form-check-label" for="DarkTheme">Dark</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SemiDark" value="option3" checked>
                                <label class="form-check-label" for="SemiDark">Semi Dark</label>
                            </div>

                            <hr />
                            <h6 class="mb-0">Header Colors</h6>
                            <hr />

                            <div class="header-colors-indigators">
                                <div class="row row-cols-auto g-3">
                                    <div class="col"><div class="indigator headercolor1" id="headercolor1"></div></div>
                                    <div class="col"><div class="indigator headercolor2" id="headercolor2"></div></div>
                                    <div class="col"><div class="indigator headercolor3" id="headercolor3"></div></div>
                                    <div class="col"><div class="indigator headercolor4" id="headercolor4"></div></div>
                                    <div class="col"><div class="indigator headercolor5" id="headercolor5"></div></div>
                                    <div class="col"><div class="indigator headercolor6" id="headercolor6"></div></div>
                                    <div class="col"><div class="indigator headercolor7" id="headercolor7"></div></div>
                                    <div class="col"><div class="indigator headercolor8" id="headercolor8"></div></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }

            <div class="page-content paw-pagecontent-mt-0">
                @RenderBody()
            </div>

        </div>

        <a href="javaScript:;" class="back-to-top">
            <ion-icon name="arrow-up-outline"></ion-icon>
        </a>

        <div class="overlay nav-toggle-icon"></div>

    </div>

    @if (Logins != null)
    {
        <footer class="footer1 paw-footer-fixed">
            <div class="footer-text">
                Copyright &copy; Developed by ASDC, DGIS
            </div>
        </footer>
    }
    @await Html.PartialAsync("_AlertMessages")



    <script language="JavaScript" type="text/javascript" src="~/js/sweetalert2.all.min.js"></script>

    <!-- Central JS for handling alerts -->
    <script src="~/developerjs/centralerrororsuccess.js"></script>

    @RenderSection("scripts", required: false)
   <script src="~/DeveloperJs/layoutreg.js"></script>
</body>
</html>
    