@using swas.BAL.DTO;
@using swas.BAL.Helpers;
@model Projmove


@inject IHttpContextAccessor HttpContextAccessor

@{
    Login Logins = SessionHelper.GetObjectFromJson<Login>(HttpContextAccessor.HttpContext.Session, "User");
    int dataProjId = Convert.ToInt32(ViewData["DataProjId"]);
    int toUnitId = Convert.ToInt32(ViewData["Tounitid"]);
    bool documenttype = ViewData["Documenttype"] != null
                        && (bool)ViewData["Documenttype"];
}

@{


}



<link href="~/assets/css/tooltip.css" rel="stylesheet" />
<div class="accordion accordion-flush" id="accordionFlushExample">
    @Html.Partial("_ProjectFWDPopup")

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">

            <!-- CENTER CONTAINER -->
            <div class="d-flex justify-content-center align-items-center gap-2 flex-wrap">

                @if (documenttype ==false)
                {
                    <button class="btn header-container text-center text-white RefLetter-container PrintDiv" type="button">
                        <img src="/assets/images/icons/pdfimg.png"
                        alt="Pdf Download"
                        width="35"
                        height="25">
                        <div class="RefLetter">
                            Generate Appx C
                        </div>
                    </button>
                }

                @if (documenttype == true)
                {
                    <button class="btn header-container text-center text-white open-doc" type="button" data-document-id="3" data-projid="@dataProjId">
                        <img src="/assets/images/icons/pdfimg.png"
                             alt="Pdf Download"
                             width="35"
                             height="25">
                        <div class="RefLetter">
                            Open Appx C
                        </div>
                    </button>


                }

                <button class="btn header-container text-center text-white" id="btnAnalytics">
                    Analytics
                </button>
              
              

                <button type="button" id="btnClose"
                        class="btn header-container text-center text-white ">
                    Close
                </button>

                @if (Model.tounitid == Logins.unitid
                && Model.ProjMov.IsComplete == false
                && Model.DataProjId == dataProjId)
                {
                    <button class="btn header-container text-center text-white btn-FwdFromMOv">
                        Send
                    </button>
                }

            </div>
            <!-- CENTER CONTAINER END -->

        </h2>
    </div>
</div>


<script src="~/developerjs/Tooltip.js"></script>
<script src="~/developerjs/projectwisereport.js"></script>
<script src="~/DeveloperJs/_projfwdupload.js"></script>
