<div class="card radius-12" style="height: 550px; overflow-y: auto;">
    <div class="text-with-icon underline-h7">
        <span style="font-size: 20px;">&#128172;</span>
        <h7 class="text-center mb-4 underline-h7" style="text-align:left; text-decoration-color:revert; color:antiquewhite">
            Comments With Status
        </h7>
    </div>
    <!-- Chat-like display for comments -->
    <div class="card radius-12" style="overflow-y: auto;">

        <div class="chat-messages" id="ChatBox">
        </div>

    </div>
</div>