<style>
    .btn-clsprojName {
        color: #007bff !important;
        cursor: pointer;
    }

    @@media (min-width: 1200px) {
        .modal-xl {
            --bs-modal-width: 80%;
        }



        .chart-box {
            background: #ffffff;
            border-radius: 10px;
            padding: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .dashboard {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }


        canvas {
            max-width: 100%;
        }
    }
</style>

<div class="modal fade" id="ProjHoldHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="">Name of Project : <span class="lblProjHoldHistory"></span> </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="card-body">
                <div class="card radius-10 w-100">
                    <div class="card-body">

                        <table id="tblProjectWiseStatusByprojid" class="table table-striped table-bordered">
                        </table>




                        <div class="modal-body">
                <div class="card d-none" id="cardforProjHoldHistory">
                    <div class="dashboard">
                        <!-- Years Wise Status -->
                        <div>
                            <div class="newprojectheading text-center"> Pending Status : Serial Movement of Proj  </div>
                            <div class="chart-box">

                                <canvas id="ProjHoldHistoryChart"></canvas>
                            </div>
                        </div>
                        <div>
                            <div class="newprojectheading text-center">Pending Status : Simultaneous Comments Statement of Proj  </div>
                            <div class="chart-box">

                                <canvas id="ProjHoldHistoryCommentChart"></canvas>
                            </div>
                        </div>



                    </div>
                </div> <div class="newprojectheading text-center mt-4"> Pending Status : Serial Movement of Proj  </div>
              
                    <table class="table table-striped table-bordered" id="tblprojhold">


                        <thead>
                            <tr>


                                <th class="nowrap">Ser. No</th>
                                <th class="nowrap">From Unit</th>
                                <th class="nowrap">To Unit</th>
                                <th class="nowrap">Sub Stage</th>
                                <th class="nowrap">Action</th>
                                <th class="nowrap">Received On</th>
                                <th class="nowrap">Accepted On</th>
                                <th class="nowrap">Total Days (hh:mm)</th>

                            </tr>
                        </thead>
                        <tbody id="DetailBodyhold">
                        </tbody>
                    </table>
               
               

                <div class="newprojectheading text-center">Pendency Status of Simultaneous Comments by Stakeholders Project is FWD by DDGIT on (<span id="Recddt"></span>)  </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="tblprojComments">

                        <thead>
                            <tr>


                                <th class="nowrap">Ser. No</th>
                                @* <th class="nowrap">From Unit</th> *@
                                <th class="nowrap">To Unit</th>
                                <th class="nowrap">Sub Stage</th>
                                @* <th class="nowrap">Action</th> *@
                                @* <th class="nowrap">Received On</th> *@
                                <th class="nowrap">Latest Action</th>
                                <th class="nowrap">Latest Action Dt</th>
                                <th class="nowrap">Total Days (hh:mm)</th>
                                 <th class="nowrap">Approved On/Reject On </th>

                            </tr>
                        </thead>
                        <tbody id="DetailBodyholdComments">
                        </tbody>
                    </table>
                </div>
               
            </div>
            </div>
            </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>
<script src="~/js/chart.js"></script>
<script src="~/js/chartjs-plugin-datalabels.js"></script>

<script src="~/developerjs/projectwisereport.js"></script>
<script src="~/developerjs/projectpendingstatuswithchart.js"></script>