@using swas.BAL.DTO;
@using swas.BAL.Helpers;
@model Projmove


@inject IHttpContextAccessor HttpContextAccessor

@{
    Login Logins = SessionHelper.GetObjectFromJson<Login>(HttpContextAccessor.HttpContext.Session, "User");
    int dataProjId = Convert.ToInt32(ViewData["DataProjId"]);
    int toUnitId = Convert.ToInt32(ViewData["Tounitid"]);
}

@{

  

    //int? DataProjId = ViewBag.DataProjId as int?;


}



<link href="~/assets/css/tooltip.css" rel="stylesheet" />

<div class="accordion accordion-flush" id="accordionFlushExample">
    @Html.Partial("_ProjectFWDPopup")
    <div class="accordion-item">
        <h2 class="accordion-header " id="flush-headingOne">
            <button class="btn btn-secondary RefLetter-container" type="button">

                <img src="/assets/images/icons/pdfimg.png" onclick="PrintDiv()" alt="Pdf Download" width="35" height="25">
                <div class="RefLetter">
                   Generate Appx C
                </div>
            </button>

            <button class="btn btn-secondary" id="btnAnalytics">
                Analytics
              
            </button>

            <button class="btn btn-secondary" type="button">
                
                 <a href="javascript:void(0);" onclick="history.go(-1);">Close</a>
            
             

            </button>
            @if (Model.tounitid == Logins.unitid && Model.ProjMov.IsComplete == false && Model.DataProjId == dataProjId)
            {
                <button class="btn btn-secondary btn-FwdFromMOv">
                    Send

                </button>
            }
           
          
          

        </h2>
    </div>
</div>

<script src="~/developerjs/Tooltip.js"></script>
<script src="~/developerjs/projectwisereport.js"></script>

