

.form-container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.required-indicator {
    color: red;
    font-size: 18px;
}


.custom-buttons {
    margin-top: 2rem;
}

    .custom-buttons button {
        margin-right: 23px;
    }
