
.header-container {
    background-color: #044c92; 
    padding: 15px;
    text-align: center;
}

.h1 {
    font-size: 05px !important;
    font-color: #FFFFFF !important;
}




.fwdupload-title {
    color: #ffffff;
    font-size: 24px;
}

.fwdupload-title-secondary {
    color: #ffffff;
    font-size: 1.25rem; 
}



.upload-note {
    margin-bottom: 0.5rem;
}
