.btn-clsprojName {
    color: #007bff !important;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .modal-xl {
        --bs-modal-width: 80%;
    }



    .chart-box {
        background: #ffffff;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }


    canvas {
        max-width: 100%;
    }
}

.ph-ok-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #28a745;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}
.table-cell {
    text-align: left;
    border: 1px solid black;
    padding: 8px;
}
.pdf-icon {
    width: 24px;
    height: 24px;
}