.modal-content {
    
    height: auto; 
}

.wl-modal-hidden {
    display: none;
}

.wl-modal-dialog {
    max-width: 95% !important;
}

.wl-modal-content {
    width: 111rem !important;
}

.wl-table-scroll {
    overflow: scroll;
}

.wl-thead-sticky {
    position: sticky;
    top: -18px;
}

.wl-w-1 {
    width: 1% !important;
}

.wl-w-2 {
    width: 2% !important;
}

.wl-w-4 {
    width: 4% !important;
}

.wl-w-6 {
    width: 6% !important;
}

.wl-w-8 {
    width: 8% !important;
}

.wl-w-15 {
    width: 15% !important;
}
