
.underline-h5 {
    padding: 0.5rem;
    width: 100%;
    margin: -16px auto; 
    text-align: center;
    border-color: #03c1fc;
    
    background-color: #0cafff;
    color: white;
    font-family: Arial;
    font-size: 15px;
    margin-bottom: 0.5rem;
    height: -1px;
}

.s-no-column {
    min-width: 40px;
    max-width: 60px;
    width: 5vw;
}



.select-full-width {
    width: 100%;
}
