

.select2-container {
    z-index: 9999; 
}






.readonly-field {
    pointer-events: none;
}





.um-w-100 {
    width: 100%;
}


.um-save-btn {
    margin-left: 20rem;
    background-color: #2d5eff;
    color: #fff;
}


.um-modal-800 {
    max-width: 800px;
}
.hiddenData {
    display: none;
}