
.wrapper {
    padding: 0rem;
}

.page-content {
    margin-top: 5rem;
}

label {
    /*  margin-top: 18px;*/
    display: inline-flex;
}

input[type="search"] {
    margin-left: 6px;
    padding: 3px;
    margin-bottom: 9px;
}

.form-control.form-control-sm {
    display: unset;
}


/* Apply a common font family and size to all headings */
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif !important;
    font-size: 24px !important;
}

/* Make the page responsive */
/* Example of how to make images and videos responsive */
img, video {
    max-width: 79% !important;
    /*  max-width: 100% !important;*/
    height: auto !important;
}

/* Example of how to make tables responsive */
.table-responsive {
    overflow-x: auto !important;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    margin-top: -1rem !important;
}

.dgislogo {
    width: 90px;
    height: 60px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: -30px px;
    margin-top: -6px;
    margin-left: 543%;
    height: 60px;
    margin-top: -7px;
}

.dgislogo1 {
    width: 90px;
    height: 60px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: -30px px;
    margin-top: -6px;
    margin-left: 543%;
    height: 60px;
    margin-top: -7px;
}

.modal-content {
    margin-left: -20rem !important;
    width: 111rem !important;
    height: auto; /* Remove fixed height to allow dynamic content */
}

.modal-body {
    padding: 20px; /* Add padding for a more spacious look */
}

.form-group {
    margin-bottom: 20px; /* Add margin to form groups for spacing */
}

/* Customize your form controls */
.form-control {
    width: 100%;
    /*padding: 10px;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style your buttons */
.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.bold-underline {
    font-weight: bold;
    text-decoration: underline;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    margin: 0;
    /*background-color: #f0f0f0;*/
}

.login-header {
    background-color: #044c92;
    height: 3rem;
    /* width: 60rem !important;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    color: white;
    width: 29rem; /* Optional: to make the header full width */
    /* Optional: to limit the width */
    text-align: center;
    border-radius: 8px; /* Optional: to give rounded corners */
}

.headertext {
    font-size: 2rem;
    font-weight: bold;
}

.pdf-link {
    display: block;
    margin-bottom: 10px;
}

.headline {
    margin-top: 1rem !important;
    color: #044c92;
    font-weight: 600;
}

.images {
    margin-left: 2rem;
    /* margin-right: 8rem; */
    margin-top: -1rem;
    height: 12rem !important;
    width: 12rem;
    width: 18rem !important;
}

.font-d {
    padding: 6px !important;
    background-color: #044c92;
    color: white;
    font-weight: 900;
}

.card {
    cursor: pointer;
}

.card1 {
    box-shadow: 1px 1px 6px 1px gray !important;
}

.modal-header {
    color: white;
    background-color: #022649;
}

.modal-title {
    margin-left: 39rem !important;
}



.card-r {
    width: 55rem !important;
    margin-left: 0.9rem !important;
}

/* .main-card {
                    background-image: url('/assets/images/test.jpg');
                }*/

.card1:hover {
    transform: scale(1.1);
}

.col-sponsor {
    width: 20%;
}

.col-project {
    width: 30%;
}

.card-box {
    width: 62rem !important;
}


.col-width9 {
    width: 6% !important; /* Adjust the width as needed */
}

.s-no-column {
    width: 1%; /* This is the percentage width you want */
}

.col-width10 {
    width: 10% !important; /* Adjust the width as needed */
}

.col-width16 {
    width: 16% !important; /* Adjust the width as needed */
}

.dt-buttons {
    margin-bottom: 10px !important;
}

.buttonsToHide {
    display: none !important;
}

.WhitelistedTable {
    margin-top: 23px;
}

a {
    text-decoration: none;
}

/* Custom H5 Styling */
.custom-h5 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 33px;
}

/* Custom Scroll Behavior */
.custom-scroll {
    overscroll-behavior-y: auto;
}

/* PDF Preview Button Styling */
.btn-preview {
    align-self: center;
    background-color: darkblue;
    color: white;
    margin-left: 50%;
}

/* Sticky Header */
.sticky-header {
    position: sticky;
    top: -18px;
}

/* Center modal title */
.title-white {
    text-align: center;
    color: black;
}
