


.up-card-wrap {
    margin-right: 20%;
    margin-left: 5%;
}


.up-card-inner {
    width: 75%;
    margin-left: 13%;
}


.up-header {
    color: white;
    background-color: #044c92;
}


.up-label-m5 {
    margin: 5px;
}


.up-td-w65 {
    width: 65%;
}


.up-row-center {
    text-align: center;
}


.up-msg-red {
    color: red;
}


.up-btn-blue {
    background-color: blue;
    color: white;
}


.up-btn-link-white {
    color: white;
}


.up-ml-20 {
    margin-left: 20px;
}
