


* {
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    background-color: #4c6eeb;
    color: white;
    font-family: Gelasio;
    font-size: 18px;
}

.bar_content {
    display: block; 
    white-space:nowrap;
    width: 110%;
    transform: translateX(100%); 
    
    animation: move 30s linear infinite ;
}


@keyframes move {
    to {
        transform: translateX(-90%);
    }
}

.bar_space
{
   display:inline-block;
   width:300px;
}

/*
****************************Responsve*********************************************/

@media (max-width:600px)
{
    .bar{
        padding:15px 0px;
        font-size:14px;
    }
    .bar_content
    {
        width:200%;
        animation :moveMobile 25s linear infinite;
    }
    @keyframes moveMobile {
        from {
            transform: translateX(100%)
        }

        to {
            transform: translateX(-150%)
        }
    }

    .bar_space {
        width: 150px;
    }
}

@media (max-width:400px)
{
    .bar{
        font-size:12px;
    }
    .bar_space
    {
        width:100px;
    }
    .bar_content
    {
        width:250%;
        animation-duration:20s;
    }
}