
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    vertical-align: bottom;
    background-color: red;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: black;
}


.badge-success {
    background-color: #28a745;
}

.badge-warning {
    background-color: #ffc107;
}

.badge-info {
    background-color: #17a2b8;
}

.badge-danger {
    background-color: #dc3545;
}


.pdf-icon {
    width: 24px;
    height: 24px;
}


.watermark {
    transform: rotate(-45deg);
    z-index: 10000;
    opacity: 0.3;
    color: #8e9191;
    position: fixed;
    top: auto;
    left: 6%;
    top: 39%;
    font-size: 80px;
    font-weight: 500;
    display: grid;
    justify-content: center;
    align-content: center;
}

.comment-box {
    text-align: justify; 
    margin-bottom: 15px;
}


.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}


.comment-stakeholder {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #0793f7;
}


.comment-meta {
    margin-left: 10px;
    font-size: 0.9rem;
}


.comment-status {
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 5px;
}
    
.accepted {
    background-color: #28a745;
    color: white;
}

.rejected {
    background-color: #dc3545;
    color: white;
}


.pdf-link {
    margin-left: 10px;
}


.pdf-icon {
    width: 24px;
    height: 24px;
}


.comment-content {
    padding: 10px 0;
    font-size: 0.95rem;
    color: #333;
}


.comment-box {
    text-align: justify; 
    margin-bottom: 15px;
}


.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}


.comment-stakeholder {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #0793f7;
}


.comment-meta {
    margin-left: 10px;
    font-size: 0.9rem;
}


.comment-status {
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 5px;
}

.accepted {
    background-color: #28a745;
    color: white;
}

.rejected {
    background-color: #dc3545;
    color: white;
}


.pdf-link {
    margin-left: 10px;
}


.pdf-icon {
    width: 24px;
    height: 24px;
}


.comment-content {
    padding: 10px 0;
    font-size: 0.95rem;
    color: #333;
}

.comment-box {
    text-align: justify; 
    margin-bottom: 15px;
}


.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}


.comment-stakeholder {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #0793f7;
}


.comment-meta {
    margin-left: 10px;
    font-size: 0.9rem;
}


.comment-status {
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 5px;
}

.accepted {
    background-color: #28a745;
    color: white;
}

.rejected {
    background-color: #dc3545;
    color: white;
}


.pdf-link {
    margin-left: 10px;
}


.pdf-icon {
    width: 24px;
    height: 24px;
}


.comment-content {
    padding: 10px 0;
    font-size: 0.95rem;
    color: #333;
}
