/* Table styling */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    vertical-align: bottom;
    background-color: red;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: black;
}

/* Status badge colors */
.badge-success {
    background-color: #28a745;
}

.badge-warning {
    background-color: #ffc107;
}

.badge-info {
    background-color: #17a2b8;
}

.badge-danger {
    background-color: #dc3545;
}

/* PDF Icon styling */
.pdf-icon {
    width: 24px;
    height: 24px;
}

/* Watermark styling */
.watermark {
    transform: rotate(-45deg);
    z-index: 10000;
    opacity: 0.3;
    color: #8e9191;
    position: fixed;
    top: auto;
    left: 6%;
    top: 39%;
    font-size: 80px;
    font-weight: 500;
    display: grid;
    justify-content: center;
    align-content: center;
}
