
.required-indicator {
    color: red;
    font-weight: bold;
}


.form-label {
    font-size: 1.1rem;
}


.button-container {
    margin-top: 2rem;
}


.btnupdate {
    margin-top: 1rem;
}


.close-link {
    color: white;
    text-decoration: none;
}


.btn-secondary {
    margin-top: 1rem;
}
