
.form-card {
    display: block; 
}

.additional-details {
    display: none; 
}

.underline-h5 {
    padding: 0.5rem;
    width: 100%;
    margin: 0 auto; 
    text-align: center;
    border-color: #03c1fc;
    
    background-color: #0cafff;
    color: white;
    font-family: Arial;
    font-size: 19px;
    margin-bottom: 0.5rem;
    height: -1px;
}

.project-heading h2 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    height: 33px;
}


.btn-save {
    background-color: blue;
    color: white;
}


.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.text-danger {
    color: red;
}


.project-heading.mb-4 {
    margin-bottom: 20px;
}
