
.underline-h5 {
    padding: 0.5rem;
    width: 100%;
    margin: 0 auto; /* Center the box */
    text-align: center;
    border-color: #03c1fc;
    /*box-shadow: 2px 6px 5px -3px #062b50;*/
    background-color: #0cafff;
    color: white;
    font-family: Arial;
    font-size: 15px;
    margin-bottom: 0.5rem;
    height: -1px;
}


.underline-h5 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 33px;
}