
.container-fluid {
    padding: 20px;
}

.card {
    max-width: 95%;
    margin: 0 auto;
}

.table {
    margin: 0 auto;
    width: 100%;
}

.flag-toggle-btn .flag-status {
    padding: 8px 12px;
    display: inline-block;
    text-align: center;
    background: linear-gradient(to right, green 50%, red 50%);
    color: white;
    border-radius: 4px;
    font-size: 14px;
}

.icon-image {
    width: 30px;
    height: 30px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.users-card-header {
    background-color: #044c92;
}


.users-hidden {
    display: none;
}


.users-col-sno {
    width: 33px;
}


.flag-pill {
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.flag-pill-on {
    background: linear-gradient(to right, green 50%, red 50%);
}

.flag-pill-off {
    background: linear-gradient(to right, red 50%, green 50%);
}


.flag-pill {
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.flag-on {
    background: linear-gradient(to right, green 50%, red 50%);
}


.flag-off {
    background: linear-gradient(to right, red 50%, green 50%);
}
.watermarktext {
    transform: rotate(-45deg);
    opacity: 0.3;
    color: #8e9191;
    position: fixed;
    top: 50%;
    left: 10%;
    font-size: 80px;
    font-weight: 500
}