


.header {
    background-color: blue; 
    color: blue; 
}

.footer {
    background-color: #044c92; 
    color: #044c92; 
    position: fixed;
    margin-bottom: 0px;
}

.wrapper .page-content {
    margin-top: 0px !important;
}



.loader-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 12;
    text-align: center;
}

.loader-container img {
    width: 60px;
}

.loader {
    vertical-align: top;
}


.loader {
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.75);
    position: fixed;
    display: table;
    width: 100%;
    top: 0;
    height: 100%;
    min-height: 100%;
    z-index: 99999;
    left: 0;
}

.loader-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 12;
    text-align: center;
}

    .loader-container img {
        width: 60px;
    }

.loader {
    vertical-align: top;
}


.sidebar .nav-link {
    position: relative;
    display: inline-block;
}

.badge3 {
    position: absolute;
    top: -5px;
    right: -33px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    min-width: 20px;
}

.badge5 {
    position: absolute;
    top: 0px;
    right: 18px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    min-width: 20px;
}

.srno {
    width: 33.625px;
}

body {
    font-weight: bold;
}

.new-badge-icon {
    color: red; 
    font-size: 10px; 
}

.custom-modal-size {
    max-width: 100%; 
    width: 95%; 
    margin: auto; 
}

    .custom-modal-size .modal-content {
         
         
        
    }

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0; 
}




.new-badge {
    display: inline-block;
    animation: bounce 1s infinite;
}

/* .btn-add-comment{
            margin-left: 535px;
        } */

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    flex-grow: 1;
    text-align: center; 
}






/*.paw-edituser-modal-content {
    width: 65%;
}
*/

.paw-modal-header-blue {
    background-color: #044c92;
    color: #fff;
}


.paw-sidebar-header-blue {
    background-color: #044c92 !important;
}


.paw-topheader-text-blue {
    color: #044c92;
}


.paw-bar-mt-62 {
    margin-top: 62px;
}

.paw-bar-mt-70 {
    margin-top: 70px;
}


.paw-footer-fixed {
    position: fixed;
    margin-bottom: 0;
}



.paw-totalCounter {
    margin-right: 32px !important;
}


.paw-modal-content-ml-0 {
    margin-left: 0;
    width:1600px !important;
}


.paw-addcomment-title {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    text-decoration-color: revert;
    color: antiquewhite;
}


.paw-uploadLoader {
    display: none;
    position: fixed;
    inset: 0; 
    background-color: rgba(0,0,0,0.4);
    z-index: 1050;
}


.paw-spinner-4rem {
    width: 4rem;
    height: 4rem;
}


.paw-edituser-modal-content {
    width: 675px !important;
}

.paw-modal-header-blue {
    background-color: #044c92;
    color: #fff;
}

.paw-sidebar-header-blue {
    background-color: #044c92 !important;
}

.paw-topheader-text-blue {
    color: #044c92;
}

.paw-bar-mt-62 {
    margin-top: 62px;
}

.paw-bar-mt-70 {
    margin-top: 70px;
}





.paw-footer-right-info {
    text-align: right;
    margin-top: -24px !important;
    margin-right: 20px !important;
}

.paw-modal-content-ml-0 {
    margin-left: 0;
}

.paw-addcomment-title {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    text-decoration-color: revert;
    color: antiquewhite;
}


.paw-uploadLoader {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1050;
}


.paw-spinner-4rem {
    width: 4rem;
    height: 4rem;
}


.paw-menu-icon {
    width: 16px;
}


.paw-loading-title {
    margin-top: -20px;
}


.paw-edituser-link-white {
    color: #fff;
}


.paw-userpen-icon {
    font-size: x-large;
}


.paw-font-small {
    font-size: small;
}


.paw-logout-img {
    height: 35px;
}


.paw-sidebar-bold {
    font-weight: bold;
}


.paw-menu-title-left0 {
    margin-left: 0 !important;
}


.paw-inbox-ml-46 {
    margin-left: 46px !important;
}

.paw-inbox-ml--43 {
    margin-left: -43px;
}


.paw-admin-iconcontainer {
    margin-right: -10px;
    letter-spacing: -0.5px !important;
}


.paw-user-setting-mr-100 {
    margin-right: 100px;
}


.paw-switcher-hidden {
    visibility: hidden;
}


.paw-chat-emoji {
    font-size: 20px;
}


.paw-comments-textarea {
    width: 100%;
    height: 240px;
}


.paw-red-font {
    color: red;
}
.form-control1 {
    width:250px !important;
}
.footerCounts {
    text-align: right;
    margin-top: -24px !important;
    margin-right: 20px !important;
}
#totalCounter {
    margin-right: 32px !important
}

.datatblwatermark {
  
}

.comments-table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

    .comments-table th,
    .comments-table td {
        border: 1px solid black;
    }

    .comments-table th {
        text-align: center;
    }

    .comments-table .ser-no {
        width: 5%;
        text-align: center;
    }




.comment-box {
    text-align: justify; 
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

    .comment-header div:first-child span {
        font-family: Arial;
        color: #0793f7; 
    }

.comment-meta {
    margin-left: 0; 
    font-size: 0.85rem;
    color: #555;
}

.comment-content p {
    margin: 0;
}

.comment-content img {
    width: 24px;
    height: 24px;
}

.swal-html-content {
    text-align: left;
}

    .swal-html-content ol {
        margin: 0;
        padding-left: 20px;
        text-align: left;
    }

.RefLetter-container {
    width: auto; 
}

    .RefLetter-container .noExport {
        
    }

    .RefLetter-container .RefLetter {
        display: block;
    }

.WhitelistedTable-width8 {
    width: 8%;
}

.WhitelistedTable-width6 {
    width: 6%;
}

.WhitelistedTable-width15 {
    width: 15%;
}
.Datatablestyle table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.Datatablestyle th,
.Datatablestyle td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

.Datatablestyle th {
    background-color: #f2f2f2;
    color: black;
}

.datatblwatermark {
    transform: rotate(-45deg);
    position: fixed;
    top: 39%;
    left: 6%;
    font-size: 80px;
    opacity: 0.3;
    z-index: 10000;
    display: grid;
    justify-content: center;
    align-content: center;
    pointer-events: none;
    user-select: none;
}
.attach-clip-icon {
    width: 31px !important;
    height: 29px !important;
    margin-right: 0px !important;
}
.modal-header .btn-close {
    background-color: red;
}