.bold-text {
    font-weight: bold;
}

.tabs__head li {
    margin-right: 10px;
}

.tabs__head a {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #fff; 
}

    .tabs__head a.active-link {
        background-color: white; 
        border-bottom: 20px solid #dee2e6; 
    }

.active-link {
    background-color: #004a99;
    color: white !important;
    border-radius: 4px;
    padding: 6px 12px;
}

#projectNameDropdown {
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 250px;
    z-index: 1000;
    list-style: none;

    padding: 0;
}

    #projectNameDropdown li {
        padding: 8px;
        cursor: pointer;
    }

        #projectNameDropdown li:hover {
            background-color: #f1f1f1;
        }

.tabs__head a.active-link {
    background-color: white; 
    border-bottom: 20px solid #dee2e6; 
}




.da-title {
    letter-spacing: 1px;
}


.da-badge-sm {
    font-size: 0.7rem !important;
}


.da-tab-w220 {
    width: 235px !important;
}


.da-scroll-700 {
    overflow-y: auto;
    height: 700px;
}


.da-hidden {
    display: none;
}


.da-tab-hidden {
    display: none;
}


.da-card-h675 {
    height: 675px;
}


.da-search-w300 {
    width: 300px;
}


.da-dropdown-menu {
    display: none;
    width: 650px;
    margin-left: 210px;
}


.da-dropdown-list {
    display: none;
    width: 477px;
}


.da-w-200 {
    width: 200px;
}

.da-w-150 {
    width: 150px;
}

.da-w-100 {
    width: 100px;
}

.da-w-120 {
    width: 120px;
}


.da-scroll-700-alt {
    overflow-y: auto;
    height: 700px;
}


.da-scroll-700-main {
    overflow-y: auto;
    height: 700px;
}





.da-td-mid-center {
    vertical-align: middle;
    text-align: center;
}


.da-ico-27 {
    height: 27px;
}
.da-td-mid-center {
    vertical-align: middle;
    text-align: center;
}

.da-ico-27 {
    height: 27px;
}

.tabs__head li a .fa {
    font-size: 22px;
}

.newprojectheading
{

align-content: center;
}