

.blue-button {
    
    background-color: #044C92; 
    border: 1px solid #000;
    color: #fff;
    
}

.green-button {
    
    background-color: #4CAF50; 
    
}

.yellow-button {
    
    background-color: #FFC107; 
    
}

.red-button {
    
    background-color: #F44336; 
    
}


.table-button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s;
}

    .table-button:hover {
        transform: translateY(-3px);
        background-color: blue; 
    }



.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.short-comment {
    display: inline;
}

.full-comment {
    display: none;
}

.show-more {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.show-less {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}


.watermark {
    transform: rotate(-45deg);
    z-index: 10000;
    opacity: 0.3;
    color: black;
    position: fixed;
    top: auto;
    left: 6%;
    top: 39%;
    color: #8e9191;
    font-size: 80px;
    font-weight: 500;
    display: grid;
    justify-content: center;
    align-content: center;
}
