

.underline-h5 {
    padding: 0.5rem;
    width: 100%;
    margin: -16px auto; 
    text-align: center;
    border-color: #03c1fc;
    
    background-color: #0cafff;
    color: white;
    font-family: Arial;
    font-size: 15px;
    margin-bottom: 0.5rem;
    height: -1px;
}


.add-stage-button {
    margin-left: 91%; 
}


.modal-header h5 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 33px;
}


#SoftwareType {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    #SoftwareType th, #SoftwareType td {
        padding: 8px;
        text-align: center;
        border: 1px solid #ddd;
    }

    
    #SoftwareType thead {
        background-color: #044c92;
        color: white;
    }

    #SoftwareType th {
        font-weight: bold;
    }

    
    #SoftwareType tbody tr:hover {
        background-color: #f1f1f1;
    }

    
    #SoftwareType tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    #SoftwareType tbody tr:nth-child(even) {
        background-color: #ffffff;
    }


.modal-dialog {
    max-width: 800px;
}


.modal-body {
    padding: 20px;
}


.underline-h5 {
    text-decoration: underline;
    font-weight: bold;
}
