
.required-indicator {
    color: red;
    font-weight: bold;
}


.form-label {
    font-size: 1.1rem;
}


.form-buttons {
    margin-top: 2rem;
}


.btnupdate {
    margin-top: 1rem;
}


.close-link {
    color: white;
    text-decoration: none;
}


.btn-secondary {
    margin-top: 1rem;
}


.form-control {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}


.text-danger {
    color: #dc3545;
}
