

#myChart1 {
    max-width: 100% !important; 
    max-height: 100% !important; 

    width: auto;
    height: auto;
}

.aj {
    text-align: center;
    height: 2rem;
    background-color: #044c92;
    padding-top: 0px;
}


.stat-title {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px #000;
}


.stats-canvas {
    width: 752px;
    height: 376px;
}

