/*@media (max-width: 768px) {
    .responsive-table thead {
        display: none;*/ /* hide header */
    /*}

    .responsive-table tr {
        display: block;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 0.5rem;
    }

    .responsive-table td {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        border-bottom: 1px dotted #ccc;
    }

        .responsive-table td:last-child {
            border-bottom: 0;
        }

        .responsive-table td::before {
            content: attr(data-label);
            font-weight: bold;
        }
}
@media (max-width: 767px) {
    #tablebasic, #tablebasic tbody, #tablebasic tr, #tablebasic td {
        display: block;
        width: 100%;
    }

        #tablebasic tr {
            margin-bottom: 1rem;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 0.5rem;
        }

        #tablebasic td {
            border: none;
            padding: 0.25rem 0;
        }

            #tablebasic td:before {
                content: attr(data-label);*/ /* you can add data-label for mobile display */
                /*font-weight: bold;
                display: inline-block;
                width: 120px;
            }
}*/
