@{
    ViewData["Title"] = "Final Logout";
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>IAM Logout</title>
  <link href="~/css/FinalLogout.css" rel="stylesheet"/>
</head>
<body>
    <form id="form1" runat="server">

        <header>
            <center>
               
                <a class="headerText" id="headerCustText" >You are successfully logged out of the application</a>
            </center>

        </header>
        <div class="quick-area">
        </div>
    </form>
</body>
</html>