@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}



<header>
    <div class="col d-flex justify-content-center">


        <div class="card">

            <div class="col-sm-8" id="rcorners2">

                <div class="row">

                    @{
                        if (User.Identity.IsAuthenticated)
                        {

                            <br />
                            <br />
                            <br />
                            <br />




                        }
                        else
                        {

                            <p>You have successfully logged out of the application.</p>
                        }
                    }
                </div>
            </div>

        </div>
    </div>
</header>
