@page
@using swas.Areas.Identity.Pages.Account
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
     Layout = null;

}



<style>
    #rcorners2 {
        margin-top: 36px;
        border: 2px solid #73AD21;
        padding: 20px;
        width: 330px;
        height: 330px;
        background-color: #e1e5eb;
        border-radius: 25px;
    }

    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }
</style>


<div class="col d-flex justify-content-center">


    <div class="card">

        <div class="col-sm-8" id="rcorners2">

            <div class="row">
                <h1>@ViewData["Title"]</h1>
                @{
                    if (@Model.DisplayConfirmAccountLink)
                    {
                        <p>
                        <br />
                        Click here to confirm your account
                      <a id="confirm-link" href="@Model.EmailConfirmationUrl"><button>Click</button></a>
                        </p>
                    }
                    else
                    {
                        <p>
                            Please check your email to confirm your account.
                        </p>
                    }
                }
            </div>
        </div>

    </div>
</div>
