@model swas.DAL.Models.tbl_mStages

@{
    ViewData["Title"] = "Edit Stage";

}

<div>
    <div class="container mt-1">
        <div class="row justify-content-center">
            <div class="container-fluid">
                <form asp-action="EditFrom" asp-controller="Stages" method="post">
                    <input type="hidden" asp-for="StagesId" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Stages"><b>Stage Name</b> <span class="required-indicator"><font style="color:red;"><b>*</b></font></span></label>
                                <input asp-for="Stages" class="form-control" required onkeyup="ValInData(this)" value="@Model.Stages" />
                            </div>
                        </div>
                       
                    </div>
                    <div class="form-group">
                        <div class="text-center" style="margin-top: 2rem;">

                            <button type="submit" data-id="@Model.StagesId" data-name="@Model.Stages" class="btn btn-primary btnupdate" style="margin-top:1rem;">Update</button>

                            <button class="btn btn-secondary" type="button" style="margin-top: 1rem;">
                                <a href="/Stages/Create" style="color: white;">Close</a>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}




<script src="~/developerjs/stage.js"></script>