@model swas.DAL.Models.tbl_mActions

@{
    ViewData["Title"] = "Create New Action";
}
<head>



    <style>
        /* Custom CSS for form styling */
        .form-container {
            background-color: #f7f7f7;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        /* Style for required field indicator */
        .required-indicator {
            color: red;
            font-size: 18px;
        }
    </style>
</head>
<div class="container mt-1">
    <div class="row justify-content-center">
        <div class="container-fluid">
            <form asp-action="Create" method="post" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="StagesId" class="control-label"><b>Stages</b> <span class="text-danger">*</span></label>
                            <select asp-for="StagesId" class="form-control" id="ddlStages" required></select>
                            <div class="invalid-feedback">Please select a stage.</div>
                        </div>

                        <div class="form-group">
                            <label asp-for="StatusId" class="control-label"><b>Status</b> <span class="text-danger">*</span></label>
                            <select asp-for="StatusId" class="form-control" id="ddlStatus" required></select>
                            <div class="invalid-feedback">Please select a Status.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Actions"><b>Action Name</b> <span class="required-indicator">*</span></label>
                            <input asp-for="Actions" class="form-control" required onkeyup="ValInData(this)" />
                            <div class="invalid-feedback">Please provide an action name.</div>
                            <span asp-validation-for="Actions" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="TimeLimit"><b>Time Limit</b> <span class="required-indicator">*</span></label>
                            <input asp-for="TimeLimit" class="form-control" id="LimitimeInputa" required onkeyup="ValInData(this)" />
                            <div class="invalid-feedback">Please provide the Time Limit </div>
                            <span asp-validation-for="TimeLimit" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="text-center" style="margin-top: 2rem;">
                            <button type="submit" class="btn btn-primary" style="margin-right: 23px">Create</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>


<script src="~/DeveloperJs/Actions.js"></script>