@model swas.DAL.Models.tbl_mActions



@{
    ViewData["Title"] = "Edit  Action";
}
<link href="~/css/Edit.css" />

<div class="card custom-card">
    <div class="card-body">
        <div class="border p-3 rounded">
            <h6 class="mb-0 text-uppercase custom-header">@ViewData["Title"]</h6>
            <hr>

            <form asp-action="Edit" class="row g-3 custom-form" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="ActionsId" />
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="Actions"><b>Action Name</b> <span class="required-indicator">*</span></label>
                            <input asp-for="Actions" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 custom-center">
                        <button type="submit" class="btn btn-primary custom-btn">Update</button>
                        <a asp-action="Index" class="btn btn-secondary custom-btn">Back to Index</a>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>


<script src="~/DeveloperJs/Actions.js"></script>